{% extends 'base.html.twig' %}

{% block body %}
<div>

    <h1>ERREUR 403!!!</h1>

    <p>Cette page n'est pas disponible.<a href="{{ path('homepage') }}">Actualiser la page</a></p>
    
</div>
{% endblock %}