{% extends 'base.html.twig' %}

{% block title %}CGV Hye Hye China
{% endblock %}

{% block body %}


	<div id="primary" class="site-content">
		<div id="content" role="main">


			<article id="post-26" class="post-26 page type-page status-publish hentry">
				<header class="entry-header">
					<h1 class="entry-title">Conditions Générales de Vente</h1>
				</header>

				<div class="entry-content">
					<p align="center">
						<b>Conditions Générales de Vente «&nbsp;Hye Hye China TRAITEUR&nbsp;»</b>
					</p>
					<p>
						<b>
							<span style="text-decoration: underline">Préambule</span>
						</b>
					</p>
					<p>Les présentes conditions générales de vente sont conclues entre&nbsp;: la société<b></b>Hye Hye China, Société par actions simplifiée, au capital de 30 893 760, dont le siège social est à Lézennes (59260) – 4 rue de l’Espoir, immatriculée au Registre du Commerce et des Sociétés de Lille Métropole sous le numéro 320 772 510 (ci-après dénommée « Hye Hye China ») et toute personne physique majeure (ci-après dénommée le « Client ») souhaitant procéder à une commande de produits « Hye Hye China TRAITEUR».</p>
					<p>
						<b>
							<span style="text-decoration: underline">Objet</span>
						</b>
					</p>
					<p>Les présentes conditions générales de vente définissent les relations contractuelles entre Hye Hye China et le Client, et les conditions applicables à toute commande effectuée&nbsp;:</p>
					<p>–&nbsp; sur le site internet www.Hye Hye China-traiteur.fr;</p>
					<p>– dans les restaurants Hye Hye China participants&nbsp;;</p>
					<p>– dans les ateliers Hye Hye China TRAITEUR&nbsp;;</p>
					<p>– par téléphone&nbsp;;</p>
					<p>– par courrier électronique.</p>
					<p>Toute commande implique une acceptation sans réserve par le Client des présentes conditions générales de vente.</p>
					<p>Hye Hye China se réserve le droit d’adapter ou de modifier ses conditions générales de vente à tout moment. Les conditions générales de vente applicables seront celles figurant sur le site internet&nbsp; www.Hye Hye China-traiteur.fr à la date de la commande par le Client.<br>
						<b>
							<span style="text-decoration: underline">Conditions de mise à disposition des produits</span>
						</b>
					</p>
					<p>Tous les produits commandés doivent être retirés à l’adresse choisie par le Client lors de la commande et confirmée par Hye Hye China sur le bon de commande (à l’exception des produits livrés).</p>
					<p>Les produits proposés sont ceux qui sont directement consultables sur le site internet www.Hye Hye China-traiteur.fr et le catalogue de Hye Hye China TRAITEUR, le jour de la commande. Ces produits sont proposés dans la limite des stocks disponibles.</p>
					<p>Chaque produit proposé au Client est accompagné d’un descriptif établi par Hye Hye China consultable sur le site www.Hye Hye China-traiteur.fr et le catalogue. Les produits proposés à la vente sont susceptibles d’être modifiés par Hye Hye China sans aucun préavis et notamment à chaque nouvelle collection.</p>
					<p>Pour assurer la disponibilité des produits, particulièrement lors d’offres promotionnelles, Hye Hye China se réserve le droit de refuser d’honorer tout ou partie d’une commande jugée anormale au regard des quantités de produits habituellement commandées par un Client.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 1&nbsp;– Application des conditions générales de vente – Opposabilité des conditions générales de vente</span>
						</b>
					</p>
					<p>Les présentes conditions générales de vente sont consultables et disponibles sur le site internet www.Hye Hye China-traiteur.fr<span style="text-decoration: underline">&nbsp;&nbsp;
						</span>
					</p>
					<p>Tout Client reconnaît avoir la capacité de contracter aux conditions décrites dans les conditions générales de vente lues par celui-ci, il doit avoir la majorité légale et ne pas être sous tutelle ou curatelle.</p>
					<p>Les présentes conditions générales forment l’intégralité de l’engagement des Parties. Aucune condition, générale ou particulière, ne peut, sauf acceptation formelle et écrite de Hye Hye China, prévaloir sur les présentes conditions générales de vente. Toute condition contraire opposée par le Client sera donc, à défaut d’acceptation expresse, inopposable à Hye Hye China, quel que soit le moment où elle aura pu être portée à sa connaissance.</p>
					<p>Le fait pour Hye Hye China de ne pas se prévaloir de l’une des clauses des présentes conditions générales de vente ne peut être interprété pour l’avenir comme valant renonciation à se prévaloir de l’une quelconque desdites conditions.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 2&nbsp;– Processus de passation de commande sur le site internet (<a href="http://www.Hye Hye China-traiteur.fr/">www.Hye Hye China-traiteur.fr</a>)</span>
						</b>
					</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>2.1. Inscription sur le site internet</b>
					</p>
					<p>La prise de commande via le Site Internet Hye Hye China-traiteur.fr suppose que le Client dispose d’un compte Hye Hye China-traiteur.</p>
					<p>
						<span style="text-decoration: underline">2.1.1 Le Client a déjà un compte Hye Hye China</span>
					</p>
					<p>Le Client ayant un compte client Hye Hye China, ayant adhéré au programme de fidélité My Hye Hye China ou ayant un compte client sur le site click.Hye Hye China.fr peut se connecter avec ses identifiants soit en cliquant sur l’hyperlien « Mon Compte » en haut à droite de l’écran, soit lors de l’étape d’authentification accessible après l’étape de validation de son panier.</p>
					<p>Après connexion, le Client sera invité à compléter les informations de son compte Hye Hye China nécessaires à la prise en compte de sa commande par les services de Hye Hye China.</p>
					<p>
						<span style="text-decoration: underline">2.1.2 Le Client n’a pas encore de compte Hye Hye China</span>
					</p>
					<p>Le Client peut se connecter en cliquant sur l’hyperlien « Mon Compte » situé en haut à droite de l’écran ou lors de l’étape d’authentification accessible après l’étape de validation de son panier.</p>
					<p>Le Client est alors invité à renseigner les informations nécessaires à la prise en compte de sa commande par les services de Hye Hye China.</p>
					<p>Le Client peut pré remplir ses informations à partir de son compte Facebook en utilisant le bouton “f Pré-remplir avec mes informations Facebook”. Seules les informations Facebook nécessaires à l’inscription seront conservées par Hye Hye China.</p>
					<p>
						<span style="text-decoration: underline">2.1.3 Informations de connexion</span>
					</p>
					<p>Le Client se connecte à son compte sur Hye Hye China-traiteur.fr grâce à son identifiant qui doit être une adresse de courrier électronique valide. Dans un but de protection de ses systèmes et de préservation de ses droits, la société Hye Hye China se réserve le droit de déterminer la validité de l’adresse de courrier électronique en fonction notamment du nom de domaine de l’adresse de courrier électronique.</p>
					<p>Le mot de passe est choisi par le Client. En cas de perte ou d’oubli de son mot de passe, le Client a la possibilité de réinitialiser ce dernier et d’en demander un nouveau en cliquant sur le lien&nbsp; « Mot de passe oublié ? » et en saisissant son adresse électronique. Le Client recevra alors un e-mail à l’adresse électronique indiquée, si elle est reconnue, lui permettant de recevoir un nouveau mot de passe aléatoire qu’il pourra ensuite modifier depuis son espace personnel en ligne.</p>
					<p>Le Client s’engage à garder ces informations strictement confidentielles et à ne pas les communiquer à des tiers, afin d’éviter tout risque d’intrusion dans son compte client. Hye Hye China ne pourra être tenue pour responsable, en cas de négligence du Client, d’une utilisation non autorisée du compte du Client par un tiers qui aurait eu accès à l’identifiant et au mot de passe correspondant.</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<span style="text-decoration: underline">2.1.4 Informations nécessaires à la création du compte du Client</span>
					</p>
					<p>Le Client devra renseigner son prénom, son nom, son adresse postale (code postal, ville, rue, numéro, pays), son numéro de téléphone et son adresse de courrier électronique. Ces données personnelles seront collectées et traitées dans le respect de la législation en vigueur et les termes de l’article 15 des présentes Conditions Générales de Vente. Hye Hye China ne pourra être tenue responsable en cas d’impossibilité de livraison due à des renseignements erronés ou incomplets.</p>
					<p>
						<span style="text-decoration: underline">2.1.5 Validation du compte Client</span>
					</p>
					<p>Une fois l’inscription effectuée, un e-mail récapitulatif sera envoyé au Client à l’adresse de courrier électronique renseignée.</p>
					<p>
						<b>2.2.
						</b>
						<b>Passation de la commande</b>
					</p>
					<p>Le Client est responsable de l’exhaustivité et de la conformité des informations (point retrait, modalités de paiement, adresse mail, téléphone,…) indiquées lors de sa commande.</p>
					<p>Les lieux, les modalités et les montants des frais de traitement sont annoncés au Client avant la validation de sa commande.</p>
					<p>
						<span style="text-decoration: underline">2.2.1 Sélection du restaurant</span>
					</p>
					<p>Le Client n’ayant pas encore choisi son restaurant est invité à le choisir lors du premier ajout d’un produit au panier. L’offre proposée par Hye Hye China dépend du restaurant sélectionné.</p>
					<p>Si le Client a déjà choisi son restaurant, celui-ci est indiqué par une coche verte au niveau de l’icône symbolisée par une maison au centre du menu de navigation. L’offre affichée sur le site internet correspond à l’offre du restaurant sélectionné. Le Client a la possibilité de changer de restaurant à travers cette icône.</p>
					<p>
						<span style="text-decoration: underline">2.2.2 Ajout d’un produit au panier</span>
					</p>
					<p>Le Client peut ajouter un produit au panier en cliquant sur les boutons intitulés “ajouter au panier”. Si le Client n’a pas encore sélectionné son restaurant, il est alors invité à le faire conformément à l’article 2.2.1.</p>
					<p>Le produit ajouté par le Client se met alors dans le panier qui s’affiche sur la droite sous forme de visualisation rapide.</p>
					<p>Le Client peut, via la visualisation rapide du panier, ajuster la quantité désirée et revenir à la page de visualisation des articles en cliquant en dehors de la zone de visualisation rapide du panier.</p>
					<p>
						<span style="text-decoration: underline">2.2.3 Vérification du panier
						</span>
					</p>
					<p>Le Client peut accéder à son panier à tout moment en cliquant sur l’icône «&nbsp;Panier&nbsp;» en haut à droite. Pour passer sa commande, le Client doit cliquer sur l’icône «&nbsp;Panier&nbsp;», puis sur l’icône «&nbsp;Passer la commande&nbsp;» dans la zone de visualisation du Panier. En cliquant sur le bouton “passer commande”, le Client accède à la page récapitulative du panier. Cette page affiche l’ensemble des produits commandés ainsi que la quantité pour chacun des produits commandés.</p>
					<p>Le Client a la possibilité dans cette page d’indiquer un code de promotion en cliquant sur le lien “Cliquez ici” situé à droite de la phrase “vous bénéficiez d’un code avantage”. Le Client devra respecter les conditions d’utilisation du code avantage et notamment sa date de validité. Après avoir cliqué sur ce lien, le Client est invité à saisir le code avantage puis à cliquer sur le bouton “utiliser ce coupon”. Si le code avantage est valide, le montant du panier est alors mis à jour.</p>
					<p>Le Client peut poursuivre sa commande en cliquant sur commander.</p>
					<p>
						<span style="text-decoration: underline">2.2.4 Authentification</span>
					</p>
					<p>Après l’étape de vérification du panier (article 2.2.3), le Client est invité à s’identifier selon les modalités de l’article 2.1 des présentes.</p>
					<p>
						<span style="text-decoration: underline">2.2.5 Adresse de facturation et adresse de livraison</span>
					</p>
					<p>Le Client est invité à indiquer son adresse de facturation. Le Client peut soit choisir parmi les adresses saisies lors de la création de son compte client (article 2.1.2.), soit ajouter une nouvelle adresse et l’utiliser comme adresse de facturation.</p>
					<p>Le Client peut choisir d’utiliser l’adresse de facturation comme adresse de livraison en cochant la case “utiliser cette adresse dans le cas de la livraison à domicile”. Si le Client ne coche pas cette case, il est alors invité à renseigner son mode de livraison ou une autre adresse de livraison parmi les adresses saisies lors de la création de son compte client (article 2.1.4) ou en ajoutant une nouvelle adresse.</p>
					<p>
						<span style="text-decoration: underline">2.2.6. Mode de livraison ou de retrait de la commande</span>
					</p>
					<p>Si le Client a sélectionné un restaurant appartenant à la liste figurant ci-dessous il peut choisir soit le retrait dans le restaurant choisi, soit la livraison à domicile (dans&nbsp; les termes et conditions de l’article 2.2.8), soit le retrait en atelier. Si le restaurant choisi ne figure pas dans cette liste, le Client devra retirer sa commande uniquement dans le restaurant sélectionné.</p>
					<p>Liste des restaurants permettant la livraison à domicile, le retrait en atelier ou en restaurant :</p>
					<p>Pour les restaurants suivants, le retrait de la commande peut se faire dans l’atelier Hye Hye China TRAITEUR de Montigny en Gohelle&nbsp;: Hye Hye China Bethune, Hye Hye China Noyelles-Godault, Hye Hye China Lens, Hye Hye China Liévin, Hye Hye China Arras, Hye Hye China Douai, Hye Hye China Aulnoy-lez-Valenciennes, Hye Hye China Valenciennes Petite-Forêt.</p>
					<p>Pour les restaurants suivants, le retrait de la commande peut se faire dans l’atelier Hye Hye China TRAITEUR de Marcq en Baroeul&nbsp;: Hye Hye China Lille gare, Hye Hye China Roncq, Hye Hye China Leers, Hye Hye China Villeneuve d’Ascq, Hye Hye China Faches Thumesnil, Hye Hye China Englos.</p>
					<p>Pour le restaurant Hye Hye China Nantes Jules Vernes, le retrait de la commande peut se faire en restaurant.</p>
					<p>
						<span style="text-decoration: underline">2.2.7 Date et heure de retrait ou de livraison</span>
					</p>
					<p>Après sélection du mode de livraison, le Client est invité à choisir la date et l’heure de retrait en restaurant ou en atelier ou la date et l’heure de livraison à domicile de la commande au travers d’un calendrier via l’icône «&nbsp;calendrier&nbsp;».</p>
					<p>Les dates et horaires proposés dépendent du restaurant choisi et des produits ajoutés au panier. La livraison est possible uniquement pour les dates et heures proposées à l’exception des dates et heures grisées. Les créneaux horaires de livraison sont définis par créneau de 30 minutes dans le bon de commande adressé au Client par courrier électronique.</p>
					<p>Lors du retrait ou de la livraison, le Client devra présenter le bon de commande qui lui sera transmis, après le paiement de la commande, par courrier électronique à l’adresse de courrier électronique d’authentification.</p>
					<p>Le Client peut poursuivre sa commande en cliquant sur le bouton “continuer”.</p>
					<p>
						<span style="text-decoration: underline">2.2.8 Frais et lieux de livraison</span>
					</p>
					<p>Les frais de livraison à domicile dépendent du lieu de résidence du Client. La livraison à domicile n’est possible que dans les villes indiquées dans le présent article.</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19&nbsp;,90€ TTC:</p>
					<p>Anstaing, Bondues, Bousbecque, Capinghem, Chéreng, Croix, Emmerin, Englos, Ennetières &nbsp;en Weppes, Erquinghem le Sec, Escobecques, Faches-Thumesnil, Forest Sur Marque, Gruson, Hallennes Lez Haubourdin, Halluin, Haubourdin, Hellemmes, Hem, La Madeleine, Lambersart, Lannoy, Leers, Lesquin, Lezennes, Lille, Linselles, Lomme, Loos, Lys les Lannoy, Marcq en Baroeul, Marquette lez Lille, Mons en Baroeul, Mouvaux, Neuville en Ferrain, Noyelles les Seclin, Radinghem en Weppes, Ronchin, Roncq, Roubaix, Sailly lez Lannoy, Sainghin en Mélantois, Saint André, Sequedin, Templemars, Toufflers, Tourcoing, Tressin, &nbsp;Vendeville, Villeneuve d’Ascq, Wambrechies, Wasquehal, Wattignies, Wattrelos.</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 29,70 € TTC:</p>
					<p>Wervicq Sud,&nbsp; Comines,&nbsp; Warneton, Deûlémont, Quesnoy-sur-Deule, Frelinghien, Verlinghem, Lompret, Pérenchies, Prémesques, Houplines, Armentières, La Chapelle d’Armentières, Bois Grenier, Le Maisnil, Beaucamp Ligny, Fournes en Weppes, Santes, Wavrin, Houplin Ancoisne, Seclin, Avelin, Ennevelin, Pont à Marcq, Templeuve, Genech, Louvroil, Péronne en Mélantois, Cysoing, Cobrieux, Bourghelles, Camphin en Pévèle, Erquinghem sur la Lys.</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 59,40 € TTC</p>
					<p>Fromelles, Herlies, Wicres, Sainghin en Weppes, Marquillies, Hantay, Salomé, Don, Bauvin, Provin, Annoeullin, Allennes les marais, Herrin, Carnin, Chemy, Camphin en Carembault, Phalempin, Wahagnies, la Neuville, Attiches, Tourmignies, Thumeries, Ostricourt, Moncheaux, Mons en Pévèle, Mérignies, Bersée, Cappelle en Pévèle.</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC,</p>
					<p>Acheville, Achicourt, Aix Noulette, Angres, Annay sous Lens, Annequin, Annezin, Anzin saint aubin, Arleux en Gohelle,&nbsp; Arras,&nbsp; Athies les Arras, Auby,&nbsp; Auchy les mines, Avion, Bailleul sur Berthoult, Beaurains, Bénifontaine, Béthune, Beuvry, Billy Montigny, Bois Bernard, Brebières,Bruay la buissiere, Carvin, Corbehem,&nbsp; Courcelles les Lens, Courchelettes, Courrières, Cuinchy, Dainville, Dechy, Douai, Douvrin, Drocourt, Drouvin le marais, Ecurie, Eleu dit Leauwette, Essars, Estevelles, Evin Malmaison, Fampoux, Farbus, Ferin, Festubert, Feuchy, Flers en Escrebieux, Fouquières les Lens, Fouquières lez Béthune, Fresnes les Montauban, Fresnoy en Gohelle, Gavrelle, Guesnain, Givenchy en Gohelle, Givenchy-lès-la-Bassée, Grenay, Guesnain,&nbsp; Haisnes, Hamblain les près, Harnes, Henin Beaumont,Houdain,&nbsp; Hulluch, Izel les Equerchin, La bassée, Lambres les Douai, Lauwin planque, Leforest, Lens, Lewarde,&nbsp; Libercourt, Lievin, Loffre, Loison sous lens, Loos en Gohelle, Masny, Méricourt, Meurchin, Montigny en Gohelle, Montigny en Ostrevent, Neuville Saint vaast, Neuvireuil, Noeux les mines, Noyelles Godault, Noyelles les Vermelles, Noyelles sous Bellonne, Noyelles sous lens, Oignies, Oppy, Pecquencourt,&nbsp; Pelves, Plouvain, Pont à Vendin, Quiery la Motte, Râches&nbsp;, Raimbeaucourt, Roeux, Roost Warendin, Roucourt, Rouvroy, Sailly labourse, Sains en Gohelle, Sainte Catherine, Sallaumine, Sin le Noble, Souchez, Thélus, Tilloy les Mofflaines, Vaudricourt, Vendin le Vieil, Vendin les Béthune, Vermelles, Verquigneul, Verquin, Vimy, Violaines, Vitry en Artois.</p>
					<p>Aibes, Amfroipret, Assevent, Audignies, Aulnoye Aymeries, Bachant, Bavay, Beaufort, Bellignies, Berelles, Berlaimont, Bermeries, Bersillies, Bettignies, Beugnies, Boussieres Sur Sambre, Boussois, Cerfontaine, Choisies, Colleret, Damousies, Dimechaux, Dimont, Dompierre Sur Helpe, Dourlers, Eccles, Eclaibes, Ecuelin, Elesmes, Feignies, Ferriere La Grande, Ferriere La Petite, Floursies, Gognies Chaussee, Hargnies, Hautmont, Hon Hergies, Houdain Lez Bavay, Jeumont, Lez Fontaine, Leval, Limont Fontaine, La Longueville, Louvroil, Mairieux, Marpent, Maubeuge, Mecquignies, Monceau Saint Waast, Neuf Mesnil, Obies, Obrechies, Pont Sur Sambre, Quievelon, Recquignies, Rousies, Saint Aubin, Saint Remy Chaussee, Saint Remy Du Nord, Saint Waast, Sars Poteries, Semousies, Solrinnes, Taisnieres Sur Hon, Vieux Mesnil, Vieux Reng, Villers Sire Nicole, Wattignies La Victoire,</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 29,70 € TTC,</p>
					<p>Auberchicourt, Aniche, Abscon, Auchel, Aubigny en Artois, Aulnoy lez Valenciennes,&nbsp; Condé sur Escaut,&nbsp; Mastaing, Lourches, Denain, Roeulx, Wavrechain sous Denain, Prouvy, Rouvignies, La sentinelle, Valenciennes, Anzin, Raismes, Petite-Forêt, Beuvrages, Onnaing, Douchy les Mines, Herin, Oisy, Thiant, Lestrem,&nbsp; Caucourt, Robecq, Lestrem, Lillers, Trith Saint Leger, Croisilles, Beaumetz les loges,&nbsp; Etaing, Lecluse&nbsp;, Estrées, Hamel, Cantin, Marcq en Ostrevent, Féchain, Monchecourt, Erchin&nbsp;, Duissans, Etrun, Mercatel.</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 59,40 € TTC&nbsp;:,</p>
					<p>Aire sur la Lys, Le Quesnoy, Aulnoye -Aymeries, Cambrai, Avesnes le Comte, St Pol sur Ternoise, Bapaume, Marquion.</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Basse Goulaine, Bouguenais, Carquefou,&nbsp;Couëron, Haute Goulaine, La Chapelle sur Erdre, Nantes 44000, Nantes 44100, Nantes 44200, Nantes 44300, Orvault, Rezé, Sainte Luce sur Loire, Saint Herblain, Saint Julien de Concelles, Saint Sébastien sur loire, Sautron, Sucé sur Erdre, Treillière, Thouaré sur Loire, Vertou,</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 29,70 € TTC:</p>
					<p>Bouaye, Brains, Casson, Chateau Thebaud, Cordemais, Couffé, Divatte sur Loire, Grandchamps des Fontaines,&nbsp; Héric, Indre, La Chapelle Heulin, La Chevroliere, La Grigonnais, La Haie Fouassière, La Montagne, Le Bignon, Le Cellier, Le Landreau, Le Loroux Bottereau, Le Pallet, Le Pellerin, Les Sorinières, Ligne, Maisdon sur Sèvres, Mauve sur Loire, Monnieres, Montbert, Mouzillon, Notre Dame Des Landes,&nbsp; Oudon, Petit Mars, Pont Saint Martin, Pont Saint Pére, Saint Aignan Grand Lieu,&nbsp; Saint Etienne de , Montluc,&nbsp; Saint Fiacre sur Maine, Saint Jean de Boiseau,&nbsp; Saint Léger des vignes, Saint Lumine de Clisson, Saint Mars du Desert, Saint Philibert de Grandlieu,&nbsp; Vallet, Vigneux de Bretagne</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Capens, Carbonne, Cugnaux, Eaunes, Fonsorbes, Frouzins, Goyrans, La Salvetat St Gilles, Labarthe Sur Leze, Lacroix Falgarde, Lagardelle Sur Leze, Lamasquere, Le Fauga, Marquefave, Miremont, Montgazin, Muret, Noe, Peyssies, Pins Justaret, Pinsaguel, Plaisance Du Touch, Portet Sur Garonne, Roques, Roquettes, Saubens, Seysses, St Hilaire, Toulouse 31100, Tournefeuille, Venerque, Vernet, Villate, Villeneuve Tolosane</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Alaincourt, Attilly, Bellenglise, Bellicourt, Benay, Bernes, Berthenicourt, Bouvincourt En Vermandois, Buire Courcelles, Cartigny, Castres, Caulaincourt, Cerizy, Cizancourt, Contescourt, Croix Moligneaux, Dallon, Epenancourt, Essigny Le Grand, Estrees, Falvy, Fayet, Fontaine Les Clercs, Francilly Selency, Gauchy, Gibercourt, Gricourt, Grugies, Hancourt, Harly, Hervilly, Hesbecourt, Hinacourt, Holnon, Itancourt, Jeancourt, Joncourt, Le Verguier, Lehaucourt, Licourt, Ly Fontaine, Magny La Fosse, Maissemy, Mesnil St Laurent, Misery, Morcourt, Moy De L Aisne, Nauroy, Neuville St Amand, Omissy, Poeuilly, Pontru, Pontruet, Remigny, Roupy, Rouvroy, Savy, Seraucourt Le Grand, St Quentin, Tincourt Boucly, Trefcon, Urvillers, Vendelles, Vendeuil, Vermand, Vraignes En Vermandois</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Beaumont Sur Vesle, Beine Nauroy, Berru, Betheny, Bourgogne, Brimont, Caurel, Cernay Les Reims, Cormontreuil, Courcy, Epoye, Fresne Les Reims, Isles Sur Suippe, Lavannes, Nogent L Abbesse, Pomacle, Prunay, Puisieulx, Reims, St Leonard, Sillery, Val De Vesle, Verzy, Witry Les Reims, Aubilly, Baslieux Les Fismes, Bermericourt, Bezannes, Bligny, Bouilly, Bouleuse, Bouvancourt, Branscourt, Breuil, Cauroy Les Hermonville, Chalons Sur Vesle, Chamery, Champfleury, Champigny, Chaumuzy, Chenay, Coulommes La Montagne, Courcelles Sapicourt, Courlandon, Courmas, Ecueil, Faverolles Et Coemy, Germigny, Gueux, Hermonville, Janvry, Jonchery Sur Vesle, Jouy Les Reims, Lagery, Lhery, Loivre, Magneux, Marfaux, Merfy, Mery Premecy, Les Mesneux, Montbre, Montigny Sur Vesle, Muizon, Ormes, Pargny Les Reims, Pevy, Poilly, Pouillon, Prouilly, Reims, Romain, Rosnay, Sacy, St Brice Courcelles, St Euphraise Et Clairizet, St Thierry, Sarcy, Savigny Sur Ardres, Sermiers, Thil, Thillois, Tinqueux, Tramery, Treslon, Trigny, Trois Puits, Vandeuil, Ventelay, Ville Dommange, Villers Allerand, Villers Aux Noeuds, Villers Franqueux, Vrigny</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Armbouts Cappel, Bergues, Bierne, Bourbourg, Brouckerque, Cappelle La Grande, Coudekerque Village, Coudekerque Branche, Craywick, Crochte, Drincham, Dunkerque, Eringhem, Esquelbecq, Grande Synthe, Gravelines, Herzeele, Hoymille, Leffrinckoucke, Loon Plage, Pitgam, Quaedypre, St Georges Sur L Aa, Socx, Spycker, Steene, Teteghem, Warhem, Wylder</p>
					<p>Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Antheuil Portes, Armancourt, Arsy, Avrigny, Baugy, Bienville, Blincourt, Braisnes Sur Aronde, Canly, Choisy Au Bac, Choisy La Victoire, Clairoix, Compiegne, Coudun, Estrees St Denis, Le Fayel, Francieres, Giraumont, Gournay Sur Aronde, Grandfresnoy, Hemevillers, Janville, Jaux, Jonquieres, Lachelle, Lacroix St Ouen, Longueil Annel, Longueil Ste Marie, Machemont, Marest Sur Matz, Margny Les Compiegne, Marqueglise, Melicocq, Le Meux, Monchy Humieres, Montmartin, Moyenneville, Moyvillers, Neufvy Sur Aronde, Le Plessis Brion, Remy, Ribecourt Dreslincourt, Rivecourt, Rouvillers, St Jean Aux Bois, Thourotte, Trosly Breuil, Vandelicourt, Venette, Verberie, Vieux Moulin, Vignemont, Villers Sur Coudun<br>
						Dans les communes suivantes, les frais de livraison s’élèvent à 19,90 € TTC:</p>
					<p>Arpajon, Avrainville, Boissy Sous St Yon, Bondoufle, Bretigny Sur Orge, Breuillet, Bruyeres Le Chatel, Cheptainville, Egly, Guibeville, Lardy, Leudeville, Leuville Sur Orge, Linas, Longpont Sur Orge, Marolles En Hurepoix, Mauchamps, Montlhery, Morsang Sur Orge, La Norville, Ollainville, Le Plessis Pate, Ste Genevieve Des Bois, St Germain Les Arpajon, St Michel Sur Orge, St Sulpice De Favieres, St Vrain, St Yon, Torfou, Vert Le Grand, Vert Le Petit, Villemoisson Sur Orge<br>
						<span style="text-decoration: underline">2.2.9&nbsp; Récapitulatif de la commande et paiement</span>
					</p>
					<p>Le Client peut visualiser le récapitulatif de la commande sur lequel figure&nbsp;:</p>
					<p>●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Les produits commandés par quantité</p>
					<p>●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; L’adresse de retrait ou de livraison</p>
					<p>●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le montant de la commande</p>
					<p>●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La remise liée à un code avantage (le cas échéant)</p>
					<p>●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le total hors taxes et toute taxes comprises de la commande</p>
					<ul>
						<li>La date et l’heure du retrait ou de la livraison</li>
					</ul>
					<p>Le Client doit accepter les Conditions Générales de Vente pour pouvoir passer la commande. Le Client a la possibilité d’apporter des modifications à sa commande avant de procéder au paiement.</p>
					<p>Le Client peut ensuite cliquer sur le bouton “passer la commande”. Le Client accède au site de paiement Payzen habilité à prendre les informations de carte bancaire.</p>
					<p>Après avoir procédé au paiement, le Client recevra un courrier électronique, de la part de Hye Hye China comportant le récapitulatif de la commande ainsi que le bon de commande. Lors du retrait ou de la livraison à domicile de la commande, ce bon de commande sera demandé au Client.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 3 – Processus de passation de commande en restaurants, en ateliers, par téléphone, par courrier électronique.
							</span>
						</b>
					</p>
					<p>
						<b>3-1 Minimum de commandes&nbsp;</b>
					</p>
					<p>Dans des cas limités et justifiés par des éléments objectifs, Hye Hye China peut exiger un minimum de commande de&nbsp; 100 € euros TTC. Le cas échéant, le Client sera prévenu dès la prise de commande et sera libre de confirmer ou non sa commande.</p>
					<p>
						<b>&nbsp;3-2 En Restaurants&nbsp;</b>
					</p>
					<p>Lors de la passation de la commande en restaurant, un bon de commande sera établi. Le Client conserve l’original de ce document.</p>
					<p>Ce bon sera demandé lors du retrait ou de la livraison des marchandises.</p>
					<p>Le Client est responsable de l’exhaustivité et de la conformité des informations (point retrait, modalités de paiement, adresse mail, téléphone,…) indiquées lors de sa commande.</p>
					<p>Les lieux, les modalités et les montants des frais de traitement sont annoncés au Client avant la validation de sa commande.</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>3-3 En Ateliers</b>
					</p>
					<p>Lors de la passation de la commande en ateliers,&nbsp; un bon de commande sera établi. Le Client conserve l’original de ce document.</p>
					<p>Ce bon sera demandé lors du retrait ou de la livraison, des marchandises.</p>
					<p>Le Client est responsable de l’exhaustivité et de la conformité des informations (point retrait, modalités de paiement, adresse mail, téléphone,…) indiquées lors de sa commande.</p>
					<p>Les lieux, les modalités et les montants des frais de traitement sont annoncés au Client avant la validation de sa commande.</p>
					<p>
						<b>3-4 Par téléphone</b>
					</p>
					<p>Pour les précommandes et les commandes prises par téléphone, Hye Hye China demandera selon les cas, soit au Client de venir retirer son bon de commande, soit Hye Hye China enverra par courrier électronique le bon de commande.</p>
					<p>Ce bon sera demandé lors du retrait ou de la livraison, des marchandises.</p>
					<p>Le Client est responsable de l’exhaustivité et de la conformité des informations (point retrait, modalités de paiement, adresse mail, téléphone,…) indiquées lors de sa commande.</p>
					<p>Les lieux, les modalités et les montants des frais de traitement sont annoncés au Client avant la validation de sa commande.</p>
					<p>
						<b>3-5 Par courrier électronique</b>
					</p>
					<p>Pour les précommandes et les commandes passées par courrier électronique, Hye Hye China demandera selon les cas, soit au Client de venir retirer son bon de commande, soit Hye Hye China enverra par courrier électronique le bon de commande.</p>
					<p>Ce bon de commande sera demandé lors du retrait ou de la livraison, des marchandises.</p>
					<p>Le Client est responsable de l’exhaustivité et de la conformité des informations (point retrait, modalités de paiement, adresse mail, téléphone,…) indiquées lors de sa commande.</p>
					<p>Les lieux, les modalités et les montants des frais de traitement sont annoncés au Client avant la validation de sa commande.</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 4 – Modification et annulation de la commande</span>
						</b>
					</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>4.1. Modification</b>
					</p>
					<p>Toutes modifications postérieures à la commande initiale ne pourront être effectuées qu’auprès du contact avec lequel le Client a passé sa commande, sous réserve de respecter un délai de 48 heures avant la date de récupération de la marchandise prévue et sous réserve de l’acceptation de la part de Hye Hye China.</p>
					<p>
						<b>4.2. Annulation</b>
					</p>
					<p>Toute annulation de commande ne pourra être acceptée que sous un délai maximum de 48 Heures&nbsp;avant la date de récupération de la marchandise prévue. Au-delà de cette limite, Hye Hye China exigera son paiement intégral. Toute annulation de commande devra être faite directement&nbsp;: auprès du restaurant ou de l’atelier choisi pour établir la prise de commande, par écrit (mail – fax) ou par téléphone.</p>
					<p>Exceptionnellement un numéro spécial&nbsp; 0 800 335 335 a été mis en place pendant les fêtes afin de gérer les commandes et les annulations</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 5 – Modalités de récupération des produits</span>
						</b>
					</p>
					<p>
						<b>5.1. Modalités de retrait de la commande en restaurant</b>
					</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>Les commandes sont à retirer dans le restaurant choisi et dans le créneau horaire désigné sur le bon de commande.</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>5.2. Modalités de retrait de la commande en atelier</b>
					</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>Les commandes sont à retirer dans l’atelier choisi et dans le créneau horaire désigné sur le bon de commande.</p>
					<p>
						<b>5.3. Modalités de livraison à domicile
						</b>
					</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>Les commandes sont livrées conformément à l’adresse indiquée par le Client et au créneau horaire indiqué sur le bon de commande.</p>
					<p>
						<b>5.4. Non présentation du client.
						</b>
					</p>
					<p>En l’absence du retrait de la commande par le Client en restaurant ou en atelier, le jour de retrait indiqué sur le bon de commande, la commande sera considérée comme annulée dans les termes et conditions prévus à l’article 4.2. des présentes Conditions Générales de Vente.</p>
					<p>En cas d’absence du Client lors de la livraison à l’heure et à l’adresse indiquées sur le bon de commande, le Client devra récupérer sa commande dans le restaurant ou l’atelier indiqué sur le bon de commande avant l’heure de fermeture du restaurant ou de l’atelier, le jour de la livraison prévu. A défaut,&nbsp;la commande sera considérée comme annulée dans les termes et conditions prévues à l’article 4.2. des présentes Conditions Générales de Vente.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 6 – Produits
							</span>
						</b>
					</p>
					<p>Les produits sont préparés et stockés dans les conditions respectant la chaîne de froid. Les produits retirés sont à consommer dans les délais mentionnés sur leur emballage.</p>
					<p>La plupart des produits Hye Hye China TRAITEUR ont été conservés par congélation (information expressément indiquée) et ne peuvent être recongelés. Ces produits doivent être consommés le jour même du retrait.</p>
					<p>Les produits vendus sont susceptibles de contenir des allergènes. Le Client a la possibilité de prendre connaissance de la présence de ces allergènes lors du processus de commande, sur le site Hye Hye China-traiteur.fr et sur le catalogue.</p>
					<p>Lors du retrait, le Client a l’obligation de vérifier la conformité des produits commandés en les visualisant. La conformité de la commande s’entend comme la présence des produits, leur adéquation par rapport à la commande et leur état apparent.</p>
					<p>En l’absence de présentation du bon de commande par le Client lors du retrait de la commande, Hye Hye China se réserve le droit de ne pas délivrer la marchandise et pourra, le cas échéant, demander au Client un justificatif d’identité.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 7&nbsp;– Délai de rétractation</span>
						</b>
					</p>
					<p>Conformément aux dispositions de l’article L.221-28 4° du Code de la consommation, le droit de rétractation ne peut être exercé sur la fourniture des produits Hye Hye China TRAITEUR qui, par nature, ne peuvent être ré-expédiés car ils sont susceptibles de se détériorer ou de se périmer rapidement.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 8 – Transfert de propriété des produits</span>
						</b>
					</p>
					<p>Hye Hye China conserve la propriété pleine et entière des produits vendus jusqu’au paiement complet par le Client de toutes les sommes dues dans le cadre de la commande, frais et taxes compris.</p>
					<p>A compter du retrait ou de la livraison de la commande, les risques de perte ou de vol des produits réceptionnés sont transférés au Client.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 9 – Conditions tarifaires</span>
						</b>
					</p>
					<p>Les prix peuvent être modifiés sans préavis. A compter de leur communication et sauf stipulation contraire, les nouvelles conditions tarifaires sont immédiatement applicables, à l’exception des commandes en cours.</p>
					<p>Les prix affichés s’entendent toutes taxes comprises, en euros, tenant compte de la TVA applicable au jour de la commande.</p>
					<p>Toutes taxes ou charges nouvelles qui pourraient être créées, ou toute modification des charges ou taxes actuelles entraîneraient automatiquement le réajustement des prix.</p>
					<p>Pour toute commande d’un montant supérieur à 300 euros TTC passée en restaurant ou auprès d’un atelier, un acompte de 30% sera demandé au Client.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 10 – Modalités de paiement</span>
						</b>
					</p>
					<p>
						<b>10.1. Pour les clients consommateurs</b>
					</p>
					<p>
						<span style="text-decoration: underline">10.1.1. Mode de paiement acceptés :
						</span>
					</p>
					<p>Le règlement de la commande peut s’effectuer&nbsp;:</p>
					<p>
						<b>– en ligne&nbsp;:</b>
						par carte bancaire (Carte Bleue, Visa, Mastercard, Eurocard) ou carte Illicado, sur le site internet www.Hye Hye China-traiteur.fr pour les restaurants proposant le paiement en ligne (voir liste ci-dessous).</p>
					<table width="940" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td width="940" valign="top">– Liste des restaurants avec service de paiement en ligne par carte bleue et/ou carte illicado (par ordre alphabétique) :<p></p>
									<p>Hye Hye China BAR MELODINE ST LAURENT DU VAR,Hye Hye China AMIENS DURY,Hye Hye China AMIENS GLISY,Hye Hye China ANGERS SAINT SERGE,Hye Hye China ANGOULEME,Hye Hye China ANNECY,Hye Hye China ANTIBES,Hye Hye China ARCUEIL,Hye Hye China ARRAS,Hye Hye China ATHIS MONS,Hye Hye China AUBAGNE,Hye Hye China AUBERVILLIERS, Hye Hye China AULNAY, Hye Hye China AULNOY LEZ VALENCIENNES, Hye Hye China AURILLAC, Hye Hye China AVIGNON LE PONTET, Hye Hye China AVIGNON MISTRAL, Hye Hye China AVIGNON RASPAIL, Hye Hye China BAR LE DUC, Hye Hye China BAYONNE, Hye Hye China BEAUVAIS, Hye Hye China BEAUVAIS SUD, Hye Hye China BELFORT, Hye Hye China BESANCON, Hye Hye China BETHUNE, Hye Hye China BEZIERS, Hye Hye China BIGANOS,Hye Hye China BLOIS,Hye Hye China BOLLENE,Hye Hye China BONNEUIL, Hye Hye China BORDEAUX BOULIAC, Hye Hye China BORDEAUX LE LAC,Hye Hye China BORDEAUX MERIADECK,Hye Hye China BORDEAUX MERIGNAC,Hye Hye China BOULOGNE,Hye Hye China BOURG EN BRESSE,Hye Hye China BOURGES ST DOULCHARD,Hye Hye China BOURGOIN JALLIEU,Hye Hye China BOURTZWILLER,Hye Hye China BREST IROISE,Hye Hye China BREST KERGARADEC,Hye Hye China BRETIGNY,Hye Hye China BRIVE LA GAILLARDE,Hye Hye China CAEN,Hye Hye China CAFE PORTE LES VALENCE,Hye Hye China CALAIS COQUELLES,Hye Hye China CALAIS OUEST, Hye Hye China CALUIRE,Hye Hye China CAMBRAI,Hye Hye China CAVAILLON,Hye Hye China CHALONS,Hye Hye China CHAMBERY BASSENS,Hye Hye China CHAMBERY CENTRE,Hye Hye China CHAMBERY CHAMNORD,Hye Hye China CHATEAUROUX,Hye Hye China CHATEAUROUX CAP SUD,Hye Hye China CHATELLERAULT,Hye Hye China CHELLES,Hye Hye China CHOLET,Hye Hye China CLAYE SOUILLY,Hye Hye China CLERMONT CENTRE,Hye Hye China CLERMONT PARDIEU,Hye Hye China COGNAC,Hye Hye China COMPIEGNE,Hye Hye China CREUTZWALD,Hye Hye China DIEPPE,Hye Hye China DIJON CENTRE,Hye Hye China DIJON QUETIGNY,Hye Hye China DOUAI,Hye Hye China DUNKERQUE,Hye Hye China ENGLOS,Hye Hye China EPINAL,Hye Hye China EVRY, Hye Hye China FACHES THUMESNIL,Hye Hye China FONTENAY,Hye Hye China FRANCONVILLE,Hye Hye China GIEN,Hye Hye China GIVORS,Hye Hye China GRENOBLE ST EGREVE,Hye Hye China HAGUENAU SCHWEIGHOUSE,Hye Hye China LA CHARITE,Hye Hye China LA ROCHELLE,Hye Hye China LE HAVRE GRAND CAP,Hye Hye China LE HAVRE MONTIVILLIERS,Hye Hye China LE MANS LA MILESSE,Hye Hye China LE PUY,Hye Hye China LEERS,Hye Hye China LENS,Hye Hye China LIEVIN,Hye Hye China LILLE ETOILE,Hye Hye China LILLE GARE,Hye Hye China LIMOGES BOISSEUIL,Hye Hye China LIMOGES NORD,Hye Hye China LONGWY MONT ST MARTIN,Hye Hye China LORIENT,Hye Hye China LYON ECULLY,Hye Hye China LYON LIMONEST, Hye Hye China LYON ST GENIS,Hye Hye China LYON ST PRIEST,Hye Hye China LYON VENISSIEUX,Hye Hye China MACON,Hye Hye China MACON SUD,Hye Hye China MANTES,Hye Hye China MARIGNANE,Hye Hye China MARSANNAY LA CÔTE, Hye Hye China MARSEILLE GRAND LITTORAL,Hye Hye China MARSEILLE VITROLLES,Hye Hye China MARTIGUES,Hye Hye China MAUBEUGE,Hye Hye China MAUREPAS,Hye Hye China MELUN SENART,Hye Hye China MELUN-CESSON,Hye Hye China MERS LES BAINS,Hye Hye China METZ CENTRE,Hye Hye China METZ SEMECOURT,Hye Hye China MOISSELLES,Hye Hye China MONTARGIS,Hye Hye China MONTAUBAN SAPIAC,Hye Hye China MONTBELIARD, Hye Hye China MONTIGNY,Hye Hye China MONTLUCON,Hye Hye China MONTPELLIER LE POLYGONE,Hye Hye China MONTPELLIER PEROLS,Hye Hye China MOULINS,Hye Hye China NANCY LAXOU,Hye Hye China NANCY ST SEBASTIEN,Hye Hye China NANCY TOMBLAINE,Hye Hye China NANTES,Hye Hye China NANTES REZE,Hye Hye China NANTES ST SEBASTIEN,Hye Hye China NEVERS,Hye Hye China NICE LINGOSTIERE,Hye Hye China NICE MIMOSA,Hye Hye China NICE SAINT ISIDORE,Hye Hye China NICE TRINITE,Hye Hye China NOYELLES,Hye Hye China OLLIOULES,Hye Hye China ORLEANS OLIVET,Hye Hye China ORLEANS ST JEAN,Hye Hye China PARIS BEAUBOURG,Hye Hye China PARIS CAULAINCOURT,Hye Hye China PARIS LES HALLES,Hye Hye China PAU,Hye Hye China PERIGUEUX,Hye Hye China PERPIGNAN,Hye Hye China PLAISIR,Hye Hye China PLAN DE CAMPAGNE,Hye Hye China POITIERS SUD,Hye Hye China PONTOISE CERGY,Hye Hye China PONTOISE OSNY,Hye Hye China RAMBOUILLET,Hye Hye China REIMS CERNAY,Hye Hye China REIMS TINQUEUX,Hye Hye China RENNES, Hye Hye China ROANNE,Hye Hye China RODEZ,Hye Hye China RONCQ,Hye Hye China ROSNY,Hye Hye China ROUEN BARENTIN,Hye Hye China ROUEN CENTRE,Hye Hye China RUEIL MALMAISON, Hye Hye China ST BRICE,Hye Hye China ST BRIEUC,Hye Hye China ST LAURENT DU VAR,Hye Hye China ST NAZAIRE TRIGNAC,Hye Hye China ST OMER,Hye Hye China ST QUENTIN, Hye Hye China STRASBOURG HAUTEPIERRE,Hye Hye China STRASBOURG ILLKIRCH,Hye Hye China THIAIS,Hye Hye China THIONVILLE,Hye Hye China TOULOUSE BLAGNAC, Hye Hye China TOULOUSE GRAMONT,Hye Hye China TOULOUSE JAURES,Hye Hye China TOULOUSE LABEGE,Hye Hye China TOULOUSE PORTET,Hye Hye China TOULOUSE ROQUES,Hye Hye China TOURS CHAMBRAY,Hye Hye China TOURS NORD,Hye Hye China TOURS ST PIERRE,Hye Hye China TRELISSAC,Hye Hye China TROYES,Hye Hye China TULLE,Hye Hye China VALENCE CENTRE ILLE,Hye Hye China VALENCE GUILHERAND GRANGE,Hye Hye China VALENCIENNES CENTRE,Hye Hye China VALENCIENNES PETITE FORET,Hye Hye China VARENNES,Hye Hye China VILLABE,Hye Hye China VILLEBON SUR YVETTE,Hye Hye China VILLEFRANCHE DE LAURAGAIS,Hye Hye China VILLENEUVE 2, Hye Hye China VILLENEUVE SUR LOT, GRILL MELODINE ST LAURENT DU VAR,PIZZERIA MELODINE ST LAURENT VAR, Hye Hye China NANCY FROUARD, Hye Hye China MONDEVILLE, Hye Hye China ARCODINE, Hye Hye China NOGENT SUR OISE,Hye Hye China BOZEDINE, Hye Hye China SAINT DIZIER,Hye Hye China CONDINE, CRISTEF-Hye Hye China,Hye Hye China EPIDINE, Hye Hye China LE MANS,PERTUIS Hye Hye China1 ,Hye Hye China VANNES,Hye Hye China DOMMARTIN LES TOULS,TRAITEUR Hye Hye China SAINT DIZIER,Hye Hye China LA MONTAGNE,Hye Hye China ST MEDARD EN JALLES,Hye Hye China GUERET,Hye Hye China DAMMARIE LES LYS,LIBOKE-Hye Hye China,LIBOMELT-Hye Hye China,MAHE-Hye Hye China,Hye Hye China SOYAUX, P2H RESTO-Hye Hye China,Hye Hye China GOURDAN POLIGNAN, Hye Hye China PONTIVY,Hye Hye China DAINVILLE,Hye Hye China RESTOISE,Hye Hye China SEGNY – RESTOR 01, Hye Hye China – RESTOR,Hye Hye China MANOSQUE 1,ROOF-Hye Hye China,Hye Hye China SAINT JUST, Hye Hye China CARPENTRAS,Hye Hye China BESANCON CHATEAUFARINE,Hye Hye China OUTREAU.</p>
									<p>– Liste des restaurants qui ne disposent pas du paiement en ligne. Le Client devra passer une précommande sur le site internet Hye Hye China-traiteur.fr, puis passer en restaurant pour verser un acompte. Cet acompte confirme la commande. Le Client peut ensuite retirer sa commande le jour du retrait&nbsp;:</p>
									<p>Hye Hye China AIX EN PROVENCE,Hye Hye China AIZENAY,Hye Hye China ALENCON,Hye Hye China AUBIERE,Hye Hye China AVALLON,Hye Hye China BAGNOLS SUR CEZE,Hye Hye China BASTIA,Hye Hye China BAULE,Hye Hye China BEYNOST,Hye Hye China BORDEAUX EULALIE,Hye Hye China BRIGNOLES,Hye Hye China CHALLANS,Hye Hye China CHANGE,Hye Hye China CHÂTILLON SUR SEINE,Hye Hye China CLAMECY,Hye Hye China COSNE SUR LOIRE,Hye Hye China CRETEIL SOLEIL,Hye Hye China DREUX VERNOUILLET,Hye Hye China EVREUX,Hye Hye China FAMECK,Hye Hye China FIGEAC,Hye Hye China FOURMIES,Hye Hye China GAP,Hye Hye China GRENOBLE ECHIROLLES,Hye Hye China GUEUGNON,Hye Hye China HIRSON,Hye Hye China HYERES, Hye Hye China LES HERBIERS, Hye Hye China LONS LE SAUNIER,Hye Hye China LUCON,Hye Hye China MEAUX,Hye Hye China METZ WOIPPY,Hye Hye China NÎMES, Hye Hye China PERPIGNAN CENTRE VILLE,Hye Hye China PRIVAS,Hye Hye China PROVINS,Hye Hye China QUIMPER,Hye Hye China RENNES ST GILLES,Hye Hye China ROMANS,Hye Hye China ROUEN LES DOCKS, Hye Hye China SARREBOURG,Hye Hye China SAVENAY,Hye Hye China SEDAN,Hye Hye China SENS,Hye Hye China ST BRIEUC PLERIN,Hye Hye China ST HILAIRE DE RIEZ,Hye Hye China ST MAXIMIN,Hye Hye China TAVEL,Hye Hye China TONNERRE,Hye Hye China TOULOUSE ROUFFIAC,Hye Hye China VICHY,Hye Hye China VILLE LA GRAND,Hye Hye China VILLEFRANCHE DE ROUERGUE,Hye Hye China VIRY CHATILLON,Hye Hye China VITRY LE FRANCOIS, Hye Hye China ALBI,Hye Hye China ANGOULEME SOYAUX,Hye Hye China BESANCON CHATEAUFARINE,Hye Hye China BOULOGNE OUTREAU,Hye Hye China BOURGES ST GERMAIN DU PUY, Hye Hye China CAEN MONDEVILLE,Hye Hye China CARPENTRAS,Hye Hye China CHARLEVILLE MEZIERES,Hye Hye China CHARTRES BARJOUVILLE,Hye Hye China CONDE,Hye Hye China DAINVILLE,Hye Hye China DAMMARIE LES LYS,Hye Hye China DOMMARTIN LES TOUL,Hye Hye China GOURDAN,Hye Hye China GUERET,Hye Hye China LA MONTAGNE,Hye Hye China LAVAL, Hye Hye China LE MANS BONNETABLE,Hye Hye China LE MANS CENTRE SUD,Hye Hye China LE QUESNOY,Hye Hye China MANOSQUE,Hye Hye China MANOSQUE 2,Hye Hye China MEAULTE, Hye Hye China NANCY FROUARD,Hye Hye China NOGENT SUR OISE,Hye Hye China PERTUIS,Hye Hye China PONTIVY,Hye Hye China SEGNY,Hye Hye China ST DIZIER,Hye Hye China ST MEDARD EN JALLES,Hye Hye China VANNES.</p>
								</td>
							</tr>
						</tbody>
					</table>
					<p>Pour toute commande passée sur le site internet et payée par carte bancaire, le prélèvement sur le compte s’effectue 72 heures avant la livraison des produits. Lors de la validation de la commande, le Client devra indiquer le numéro de sa carte, sa date d’expiration, ainsi que les trois derniers chiffres du numéro au verso de la carte.</p>
					<p>Conformément aux articles 1366 et 1367 du Code civil, la transmission en ligne du numéro de carte et la validation finale de la commande du Client valent pour preuve de l’intégralité de la commande et de l’exigibilité des sommes dues en règlement de cette commande. Cette validation vaut signature et acception expresse de toutes les opérations effectuées sur le site<b></b>Hye Hye China-traiteur.fr.</p>
					<p>Différents accès à des serveurs d’autorisation sont alors effectués afin de vérifier les données pour éviter les abus et les fraudes. Pour cela, le serveur est en mode crypté et toutes les informations véhiculées sont codées (protocole SSL de Netscape).</p>
					<p>Sur le site internet, le Client a la possibilité de sélectionner la carte Illicado comme moyen de paiement au moment de régler la somme de son panier. Le Client devra rentrer le numéro de sa carte Illicado (19 chiffres inscrits au dos) ainsi que le cryptogramme (3 chiffres inscrits au dos sous la zone à gratter). Le Client pourra compléter le solde des sommes à payer par carte bancaire.</p>
					<p>
						<b>&nbsp;</b>
					</p>
					<p>
						<b>– en restaurant lors de la prise de la commande&nbsp;:
						</b>par chèque, espèces, carte bancaire, tickets restaurants, carte llicado, et des chèques vacances.</p>
					<p>
						<b>– En atelier lors de la prise de la commande&nbsp;:
						</b>par chèque, espèces, carte bancaire, tickets restaurants, carte llicado, à l’exclusion des chèques vacances.</p>
					<p>–&nbsp;&nbsp;
						<b>En restaurant lors de la prise de commande par téléphone</b>&nbsp;: par chèque, espèces, carte bancaire, tickets restaurants, carte Illicado, à l’exclusion des chèques vacances.</p>
					<p>
						<span style="text-decoration: underline">10.1.2. Paiement de la commande en 3X ou 4X par CB à partir de 200 euros d’achats jusqu’à 3000 euros avec Oney Bank :
						</span>
					</p>
					<p>Notre partenaire Oney Bank vous propose une solution de financement dénommée 3x 4x Oney, qui permet de payer vos achats de 200€ à 2000€ en 3 ou 4 fois sans frais avec votre carte bancaire.</p>
					<p>
						<span style="text-decoration: underline">Conditions :
						</span>
					</p>
					<p>Cette offre est réservée aux particuliers (personnes physiques majeures) résidant en France et titulaires d’une carte bancaire Visa et MasterCard possédant une date de validité supérieure à la durée du financement choisie.Les cartes à autorisation systématique notamment de type Electron, Maestro, Nickel etc… ainsi que les e-cards, les cartes Indigo et American Express ne sont pas acceptées</p>
					<p>Modalités de souscription :</p>
					<p>Après avoir terminé votre commande, il vous suffit de cliquer sur le « bouton paiement en 3x 4x Oney par carte bancaire ».</p>
					<p>Vous êtes alors redirigé vers la page internet 3x 4x Oney de notre partenaire affichant le récapitulatif détaillé de votre commande et la demande de financement personnalisée, que vous devez ensuite valider.</p>
					<p>Vous saisissez vos informations personnelles ou, si vous disposez d’un compte 3x 4x Oney, vous vous identifiez au moyen des identifiants de connexion liés à votre compte 3x 4x Oney. Vous prenez connaissance des conditions générales de paiement en plusieurs fois auxquelles vous souhaitez souscrire qui vous sont fournies sous format PDF afin que vous puissiez les lire, les imprimer et les enregistrer avant de les accepter.</p>
					<p>Vous notifiez ensuite votre acceptation électronique par la case à cocher correspondante. Vous reconnaissez que le « double clic » associé à la case à cocher sur la prise de connaissance des conditions générales valent consentement à contracter et constituent une acceptation irrévocable et sans réserve des conditions générales du produit.</p>
					<p>Sauf preuve contraire, les données enregistrées par Oney Bank constituent la preuve de l’ensemble des transactions passées entre vous et Oney Bank. Si vous demandez à bénéficier d’une solution de financement proposée par Oney Bank, les informations en rapport à votre commande seront transmises à Oney Bank, qui les utilisera à des fins d’étude de votre demande pour l’octroi, la gestion et le recouvrement de crédit.</p>
					<p>Oney Bank se réserve le droit d’accepter ou de refuser votre demande de financement en 3x 4x Oney. Vous disposez d’un délai de rétractation de 14 jours pour renoncer à votre crédit.</p>
					<p>Fonctionnement :</p>
					<p>Le paiement en 3 ou 4 fois sans frais par carte bancaire vous permet de régler la commande effectuée sur notre site marchand de la façon suivante :</p>
					<p>– un apport obligatoire, débité le jour de la confirmation de l’expédition de votre commande correspondant à un tiers ou à un quart de la commande</p>
					<p>– deux ou trois mensualités, correspondant chacune à un tiers ou un quart de la commande, prélevées à 30 et 60 jours après pour le 3 fois et à 30, 60 et 90 jours après pour le 4 fois.</p>
					<p>• Le paiement en 3 fois à partir de 200€ d’achat et jusque 3000€</p>
					<p>Exemple : Pour un achat de 300€ effectué le 01/02/2018, vous payez un apport de 100€ puis 2 mensualités de 100€ le 01/03/2018, le 01/04/2018.</p>
					<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le paiement en 4 fois à partir de 250€ d’achat et jusque 3000€</p>
					<p>Exemple : Pour un achat de 150€, apport de 50€ puis 2 mensualités de 50€. Crédit sur 2 mois au TAEG fixe de 0%. Coût du financement 0€. • Le paiement en 4 fois à partir de 250€ d’achat et jusque 3000€ Exemple : Pour un achat de 400€, apport de 100€ puis 3 mensualités de 100€. Crédit sur 3 mois au TAEG fixe de 0%. Coût du financement 0€.</p>
					<p>Oney Bank – SA au capital de 51 286 585€ – Siège social : 34 avenue de Flandre 59170 CROIX – RCS Lille Métropole 546 380 197 – n° Orias : 07 023 261 – www.orias.fr –<br>
						Correspondance : CS 60006 – 59 895 Lille Cedex 9 – www.oney.fr</p>
					<p>
						<span style="text-decoration: underline">10.1.3. Généralités relatives au paiement&nbsp;:
						</span>
					</p>
					<p>Aucun escompte n’est accordé pour tout paiement anticipé.</p>
					<p>Le Client devra rembourser&nbsp; tous les frais occasionnés par le recouvrement contentieux des sommes dues, y compris les honoraires d’officiers ministériels.</p>
					<p>En aucun cas les paiements ne peuvent être suspendus ni faire l’objet d’une quelconque compensation sans l’accord écrit et préalable de Hye Hye China.</p>
					<p>
						<b>10.2. Pour les clients professionnels</b>
					</p>
					<p>Le règlement des factures doit être effectué au siège social de Hye Hye China ou de son sous-traitant dans un délai maximum de 30 jours suivant la date de facture. Aucun escompte n’est accordé en cas de paiement anticipé des factures par rapport au délai prévu ci-avant.</p>
					<p>Un litige n’est pas suspensif du paiement de la facture.</p>
					<p>Tout retard dans le paiement d’une seule facture à son échéance entraînera :</p>
					<p>– l’exigibilité immédiate de toutes les sommes restant dues, quel que soit le mode de règlement prévu</p>
					<p>– le paiement d’une pénalité de retard égale à trois fois le taux d’intérêt légal en vigueur</p>
					<p>– le paiement d’une indemnité forfaitaire pour frais de recouvrement d’un montant de 40 euros</p>
					<p>– la prise en charge par le Client de tous les frais de recouvrement de la créance qui dépasseraient l’indemnité forfaitaire prévue ci-avant, sur justificatifs</p>
					<p>– la suspension éventuelle des livraisons des commandes</p>
					<p>L’application de la présente clause ne nécessite aucune mise en demeure préalable.”</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 11 – Responsabilité</span>
						</b>
					</p>
					<p>En cas de survenance d’un événement de force majeure ou cas fortuit, et notamment en cas de guerre, d’émeute, d’incendie, grève totale ou partielle, de difficultés durables d’approvisionnement en matières premières ou emballages, liés à des circonstances irrésistibles, imprévisibles et extérieures, notamment en cas de sinistres ou d’intempéries reconnus, de grève des prestataires logistiques, ou de toute autre événement susceptible de perturber la bonne circulation des marchandises et des flux informatiques, Hye Hye China sera dégagé de plein droit de ses obligations sans paiement d’indemnité d’aucune sorte.<br>
						La responsabilité de Hye Hye China ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau internet, notamment une rupture de service, une intrusion extérieure, la présence de virus informatiques ou autres problèmes involontaires.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 12 – Preuve</span>
						</b>
					</p>
					<p>Les registres informatisés, conservés dans les systèmes informatiques de Hye Hye China dans des conditions raisonnables de sécurité, seront considérés comme des preuves des communications, des commandes et des paiements intervenus entre les parties.</p>
					<p>Les bons de commandes entre Hye Hye China et le Client font également preuve des communications, des commandes et des paiements intervenus entre les parties.</p>
					<p>
						<b>
							<span style="text-decoration: underline">&nbsp;</span>
						</b>
					</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 13 – Illustrations</span>
						</b>
					</p>
					<p>Les photographies et illustrations présentées en ligne et sur les brochures ne sont pas contractuelles.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 14 – Sous-traitance</span>
						</b>
					</p>
					<p>Le Client reconnaît et accepte que dans le cadre de l’exécution de ses obligations, Hye Hye China pourra être amené à sous-traiter la préparation et la livraison des commandes à la société Hye Hye China TRAITEUR SARL ainsi qu’aux sociétés franchisées de Hye Hye China SAS.</p>
					<p>Dans cette hypothèse, les règlements seront effectués auprès du sous-traitant.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 15- Loi Informatique et libertés et protection de la vie privée</span>
						</b>
					</p>
					<p>Dans le cadre de ses relations contractuelles, Hye Hye China est amenée à collecter des données à caractère personnel nécessaire au traitement de la commande. En application de la loi n° 78-17 du 6 janvier 1978, modifiée, et du Règlement européen 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données, le Client dispose à tout moment d’un droit d’accès et de portabilité, et, pour des motifs légitimes, d​e​ droits d’opposition, de rectification, d’oubli et de limitation des données qui le concerne. Le Client a également la possibilité de faire part à la société Hye Hye China du sort qu’il souhaite réserver à ses données post-mortem. Pour exercer ces droits et obtenir des informations détaillées sur les durées de conservation des données, le Client doit contacter la société​ Hye Hye China à l’adresse suivante contact.cnil@Hye Hye China.fr. Les informations collectées sont destinées à le Service marketing de Hye Hye China SAS, les restaurants Hye Hye China et ateliers Hye Hye China TRAITEUR et ont pour finalité​s&nbsp;:​ Suivi des commandes, gestion de la relation client et, si l’utilisateur y a consenti la prospection clients.</p>
					<p>Si le Client opte pour un paiement en 3X ou 4X tel que visé à l’article 10.2. des présentes Conditions générales de vente, Hye Hye China sera alors amené à transférer les données du Client à son partenaire aux strictes fin d’étude de la demande de Solution de Paiement.</p>
					<p>L’Utilisateur est informé que des traitements automatisés sont mis en œuvre sur ses données afin d’analyser et prédire certaines actions.</p>
					<p>L’Utilisateur est informé qu’il dispose du droit d’introduire une action auprès de ​l​a Commission National​e​ de l’Informatique et des Libertés.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 16&nbsp;– Réclamation</span>
						</b>
					</p>
					<p>Toute question ou difficulté relative à une commande passée devra être faite&nbsp;:</p>
					<p>–&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vous pouvez nous contacter en nous écrivant en&nbsp;<a href="https://www.Hye Hye China-traiteur.fr/?cz_open=send_feedback:Web">CLIQUANT ICI</a>&nbsp;(24H sur 24 et 7 jours sur 7).</p>
					<p>–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Par téléphone au numéro suivant&nbsp;: 03 20 43 59 59</p>
					<p>–&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Par voie postale à l’adresse suivante : 4 rue de l’Espoir 59260 Lézennes</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 17&nbsp;– Attribution de juridiction et droit applicable</span>
						</b>
					</p>
					<p>Tous les contrats passés avec Hye Hye China au titre des présentes conditions générales de vente sont soumis au droit français.</p>
					<p>Les parties s’efforceront de trouver une solution commerciale et concertée pour les litiges éventuels pouvant intervenir lors du traitement de la commande du Client.</p>
					<p>A défaut d’accord amiable entre les parties, tout litige ou contestation sera de la compétence exclusive des tribunaux de Lille.</p>
					<p>
						<b>
							<span style="text-decoration: underline">Article 18 – Médiation à la consommation</span>
						</b>
					</p>
					<p>Après avoir saisi par lettre recommandée avec accusé réception Hye Hye China ou toute personne habilitée, et à défaut de réponse satisfaisante dans un délai de 60 jours, le Client peut saisir le Médiateur du Tourisme et du Voyage, dont les coordonnées et modalités de saisine sont disponibles sur son site :
						<span style="text-decoration: underline">
							<a href="http://www.mtv.travel/">www.mtv.travel</a>
						</span>.</p>
				</div>
				<!-- .entry-content -->
				<footer class="entry-meta"></footer>
				<!-- .entry-meta -->
			</article>
			<!-- #post -->

			<div id="comments" class="comments-area"></div>
			<!-- #comments .comments-area -->

		</div>
		<!-- #content -->
	</div>
	<!-- #primary -->


	<div id="secondary" class="widget-area" role="complementary">
		<aside id="categories-2" class="widget widget_categories">
			<h3 class="widget-title">Categories</h3>
			<ul>
				<li class="cat-item cat-item-715">
					<a href="https://www.Hye Hye China-traiteur.fr/cms/blog/category/actualites-Hye Hye China-traiteur/">Actualités Hye Hye China Traiteur</a>
				</li>
				<li class="cat-item cat-item-1">
					<a href="https://www.Hye Hye China-traiteur.fr/cms/blog/category/conseils-pour-receptions/" title="Découvrez l'ensemble de nos conseils pour vos réceptions ! ✔ Que ce soit un mariage, une crémaillère ou un anniversaire, Hye Hye China Traiteur vous accompagne avec des produits de qualité !">Conseils pour réceptions</a>
				</li>
				<li class="cat-item cat-item-713">
					<a href="https://www.Hye Hye China-traiteur.fr/cms/blog/category/inspirations-menu/">Inspirations menu</a>
				</li>
				<li class="cat-item cat-item-714">
					<a href="https://www.Hye Hye China-traiteur.fr/cms/blog/category/traiteur-professionnel/">Traiteur professionnel</a>
				</li>
			</ul>
		</aside>
	</div>
	<!-- #secondary -->

{% endblock %}
