{% extends 'base.html.twig' %}

{% block title %}HAY-HAY CHINA
{% endblock %}

{% block body %}
<²<h1>CONDITIONS GÉNÉRALES D’UTILISATION DE Hay Hay China.FR</h1>
<p>Les Conditions d’Utilisation suivantes s’appliquent au site Hay Hay China.fr et à tout ses sous-domaines : job.Hay Hay China.fr, 
franchise.Hay Hay China.fr, 
restaurant.Hay Hay China.fr, blog.Hay Hay China.fr, news.Hay Hay China.fr, info.Hay Hay China.fr, click.Hay Hay China.fr.</p>

<h1>BIENVENUE SUR LE SITE DE Hay Hay China</h1>
<p>Les commentaires (ou tout autre contenu) sur le site de Hay Hay China sont les bienvenus, et ouverts à tous les fans. 
N’hésitez pas à réagir, partager votre expérience, poser des questions et répondre aux questions des autres fans.
Avant de participer, nous vous invitons à consulter les règles de bonne conduite ci- dessous.</p>

<h1>RÈGLES DE MODÉRATION</h1>
<p>Les commentaires postés sur le site deHay Hay China peuvent être lus par l’ensemble des fans. 
Ils feront l’objet d’une modération a posteriori, c’est-à-dire après leur publication.

Ce site est un espace dédié à Hay Hay China et ses restaurants. Si, après publication, 
le modérateur estime que le commentaire n’est pas conforme : – aux règles de bonne conduite en vigueur sur Internet, – à la loi française 
Il se réserve le droit de supprimer le commentaire sans préavis.</p>

<h1>RÈGLES DE BONNE CONDUITE</h1>
<p>Les commentaires sont libres à condition de respecter les règles élémentaires de bienséance.
Afin de préserver le dialogue et le respect des personnes, le modérateur pourra supprimer sans avertissement préalable tout propos tombant sous le 
coup de la loi :incitation à la discrimination, à la haine ou à la violence à caractère raciste, xénophobe, homophobe ou révisionniste – tout propos incitant à une consommation d’alcool excessive ou inappropriée, ou faisant l’apologie de l’ivresse.
Peuvent être notamment supprimés :
les commentaires insultants, agressifs ou vulgaires, constitutifs de harcèlement ou prenant à partie un ou plusieurs participants – les commentaires à caractère diffamatoire ou dénigrant les commentaires et contributions hors sujet, superflues, ou redondantes (spam), sans apport particulier pour les échanges. – Les informations obsolètes ou ayant déjà été traitées. – les commentaires répétitifs à des fins commerciales (spam)
les liens renvoyant vers des sites extérieurs dont le contenu serait susceptible d’être contraire aux lois et règlements en vigueur en France.</p>

<p>Les contributions abusives en « langage SMS » et en majuscules. – Les contributions liés aux Ressources Humaines et recrutement. 
Nous vous invitons à vous rendre dans l’espace « recrutement » dédié sur le site pour ces aspects.
les conversations privées sur la page ou le mur, les échanges de coordonnées privées.
les questions personnelles ayant eu une réponse de la part de Hay Hay China SAS.
Les critiques ou les commentaires sur la modération doivent être effectués en privé. 
Si vous rencontrez un message que vous jugez illégal ou contraire à la bonne marche de la page, 
merci de contacter les modérateurs par l’intermédiaire d’un message sur https://ditesnous.Hay Hay China.fr/ . 
Merci de justifier clairement la raison de votre demande de modération.</p>

Chaque utilisateur peut à tout moment, si une contribution porte atteinte à ses droits, la signaler à la société Facebook, 
selon la procédure de signalement mise en place par Facebook, ou nous la signaler directement en vous rendant sur https://ditesnous.Hay Hay China.f
/ pour nous écrire un message.</p>

<h1>CONTACT</h1>
<p>Vous pouvez poser vos questions sur cet espace de discussion, ou nous contacter via le lien suivant : https://ditesnous.Hay Hay China.fr/</p>

<h1>LIMITES DE RESPONSABILITÉ</h1>
<p>L’utilisateur du site Hay Hay China est seul responsable du contenu utilisateur (textes, images, opinions, fichiers etc…) qu’il met en ligne sur la page. L’utilisateur s’engage à ce que les contenus qu’il publie ne soient pas de nature à porter atteinte aux intérêts légitimes de tiers quels qu’ils soient, 
il garantit Hay Hay China SAS contre tous recours fondés directement ou indirectement sur ces propos et son contenu utilisateur, susceptibles d’être intentés par quiconque à l’encontre de Hay Hay China SAS. Il s’engage en particulier à prendre en charge le paiement des sommes, quelles qu’elles soient, 
résultant du recours d’un tiers à l’encontre de Hay Hay China SAS, y compris les honoraires d’avocat et frais de justice. Hay Hay China SAS ne peut garantir l’exactitude ou la pertinence des informations publiées sur la page. Ces informations mises à disposition sur la page le sont uniquement à titre purement informatif et ne sauraient constituer en aucun cas un conseil ou une recommandation de Hay Hay China SAS de quelque nature que ce soit. 
L’utilisateur est pleinement responsable de la vérification des informations qu’il recueille sur la page Facebook Hay Hay China.</p>

<p>En conséquence, l’utilisation des informations et des contenus disponibles sur la page fan, ne sauraient en aucun cas engager 
la responsabilité de Hay Hay China SAS. 
Il appartient à l’utilisateur de prendre toutes les dispositions nécessaires permettant de protéger ses propres données pour accéder à la page 
Hay Hay China. Les modérateurs s’expriment à titre personnel sur la page fan et leurs propos ne sauraient engager 
la responsabilité de Hay Hay China SAS.</p>

<p>Hay Hay China SAS se réserve le droit de modifier les termes, conditions et mentions de la présente charte à tout moment sans avis préalable. 
Il est donc conseillé aux utilisateurs de consulter régulièrement la dernière version de cette charte disponible sur la page.</p>

<h1>CONDITIONS GÉNÉRALES D’UTILISATION DU PROGRAMME DE FIDÉLITÉ MYHay Hay China</h1>
<p>Les présentes Conditions d’utilisation régissent votre accès et votre participation au programme MyHay Hay China, qui est proposé par Hay Hay China ou
 ses filiales et affiliés.</p>

 <p>Les présentes Conditions d’utilisation n’altèrent en rien les clauses et conditions mentionnées dans tout autre accord que vous pourriez avoir 
 conclu avec Hay Hay China ou Hay Hay China-traiteur au sujet de produits, services ou autres.</p> 

 <p>Hay Hay China se réserve le droit de changer ou modifier, à tout moment et à sa seule discrétion, 
 les présentes Conditions d’utilisation ou toute autre politique, FAQ ou directive relevant du programme MyHay Hay China.</p>

 <p>Tout changement ou toute modification entrera immédiatement en vigueur au moment de la publication des révisions sur le site www.Hay Hay China.fr.</p>

  <p>Vous renoncez à tout droit d’être informé(e) spécifiquement desdits changements ou modifications.</p>  

  <p>En continuant de participer au programme MyHay Hay China, vous confirmez que vous acceptez lesdits changements ou modifications ; 
  de ce fait, nous vous recommandons de consulter fréquemment les présentes Conditions d’utilisation ainsi que les politiques en vigueur afin de 
  comprendre les conditions générales applicables au programme MyHay Hay China.</p>

  <p>Si vous n’acceptez pas les conditions modifiées,vous devez cesser de participer au programme MyHay Hay China et demander sa résiliation.</p>
 

<p>Ce programme n’est pas destiné à, ni conçu pour être utilisé par, des mineurs de moins de 18 ans.  
Si vous êtes âgé(e) de 13 à 18 ans, vous êtes autorisé(e) à utiliser le programme MyHay Hay China uniquement sous la supervision d’un parent 
ou tuteur légal, qui accepte d’être lié par les présentes Conditions d’utilisation.</p>

<p>Le simple fait d’adhérer au Programme « MyHay Hay China » entraîne l’acceptation entière et sans réserve des présentes conditions générales.</p>

<h1>OBJET</h1>
<p>La société Hay Hay China, Société par Actions Simplifiée au capital de 30 893 760 Euros, dont le siège social est à VILLENEUVE D’ASCQ (59650), 
Immeuble Péricentre, Boulevard Van Gogh, immatriculée au RCS de Lille sous le numéro B 320 772 510, agissant tant en son nom propre que pour le 
compte de l’ensemble de ses réseaux (ci-après désignée la « Société Hay Hay China ») a mis en place dans les restaurants à enseigne 
Hay Hay China situés en France métropolitaine un programme de fidélité MyHay Hay China.</p>

<h1>PRÉSENTATION DU PROGRAMME</h1>
<p>Le programme MyHay Hay China est un moyen pour Hay Hay China et ses filiales de s’engager à récompenser et remercier ses clients fidèles pour 
leurs apports à l’activité de Hay Hay China dans ses restaurants et sur ses sites e-commerce.</p>

<p>L’ensemble des restaurants sous enseigne Hay Hay China participe au Programme « MyHay Hay China ».</p>

<p>Vos avantages et offres en cours seront consultable sur www.Hay Hay China.fr ou sur l’application mobile (Android et iOS) 
en vous connectant à votre espace personnel via votre email et votre mot de passe.</p>

<p>Dans un soucis de respect de l’environnement, Hay Hay China s’engage à réduire l’impact de la consommation de papier, 
c’est pourquoi vous ne pourrez bénéficier (sous réserve de remplir les conditions d’éligibilité) de vos avantages et offres en cours de validité 
qu’uniquement sur présentation de votre carte MyHay Hay China en caisse ou sur nos sites e-commerce. 
Aucun coupon ne pourra être réclamé en restaurants.</p>

<p>Il est précisé qu’aucun adhérent MyHay Hay China ne pourra bénéficier rétroactivement des avantages liés au programme qui ont été offerts 
pour une période antérieure à son adhésion ou en cas d’oubli de présentation de sa carte.</p>

<p>La carte MyHay Hay China n’est en aucun cas une carte de paiement et qu’il est obligatoire d’activer la carte 
“MyHay Hay China” pour bénéficier des avantages de fidélité. Enfin, vos étoiles, vos avantages, votre carte MyHay Hay China activée et votre compte dans
 le cadre du programme MyHay Hay China sont personnels et ne peuvent en aucun cas être vendus, transférés ou cédés à des membres de votre famille,
  des amis ou autre, ni partagés avec ces derniers.</p> 

<p>L’offre de bienvenue</p>

<p>Dès son inscription, vous bénéficiez d’une réduction immédiate de 15% sur votre prochaine addition, sous réserve de remplir les conditions 
d’éligibilité présentes dans l’email de bienvenue que vous recevez dès validation de votre inscription.</p>

<p>La quinte Hay Hay China (5 visites = une surprise)</p>

<p>Les avantages MyHay Hay China sont définis en fonction du nombre de visites que vous effectuez.</p>

<p>Dans le cadre de MyHay Hay China, une “visite” équivaut au passage de la carte MyHay Hay China activée préalablement pour le paiement 
d’une transaction dans l’un des restaurants Hay Hay China ou pour toutes commandes passées sur ces sites e-commerce.</p>

<p>Vous recevrez une (1) étoile pour chaque Visite. A noter que pour les commandes traiteur ou click&Hay Hay China, l’étoile sera comptabilisé au 
moment du retrait de la commande.</p>

<p>Vous gagnez une récompense au bout de 5 visites effectuées dans un délai d’un an à compter de la date de la première transaction.</p>

<p>Il est précisé qu’un achat ayant été oublié ne saurait être recrédité par la suite.</p>

<p>L’instant gagnant</p>

<p>Le programme MyHay Hay China donne également une chance à son porteur de gagner son repas à hauteur de 15 euros maximum.</p>

<p>Hay Hay China se réserve le droit de modifier ce lot à discrétion en fonction des partenariats qu’il aura négocié.</p>

<p>Vous serez informé de votre gain par l’hôtesse de caisse. Votre prénom sera susceptible d’être affiché sur la carte du restaurant (Digiboard) 
pour signifier qu’il y a eu un gagnant dans le restaurant.</p>

<p>Les atouts Hay Hay China</p>

<p>Si vous avez accepté de recevoir les communications, vous serez informé régulièrement des actualités et des bons plans de la marque Hay Hay China 
et de votre restaurant affilié (sous réserve d’avoir renseigné cette information à l’activation).</p>

<p>Vous pourrez également bénéficier d’avantages supplémentaires à l’occasion de votre anniversaire</p>

<h1>ADHÉSION AU PROGRAMME</h1>

<p>Pour vous inscrire au programme MyHay Hay China et profiter des avantages du programme, vous devez dans un premier temps créer un compte sur le 
site www.Hay Hay China.fr, puis activer et enregistrer une (1) Carte MyHay Hay China dans votre compte.</p>

<p>Le terme “ Activation ” 
signifie que les champs obligatoires du formulaire, symbolisés par un astérisque (*) ont été renseignés et que le formulaire a été validé. 
Par conséquent, la carte MyHay Hay China est inactive tant que l’adhérent ne procède pas à son inscription.</p>

<p>Au cours de la procédure d’enregistrement, vous devez communiquer les informations suivantes dans le formulaire en ligne :  
Prénom, nom, adresse email, mot de passe, numéro de Carte MyHay Hay China et cryptogramme, date de naissance, restaurant favori, 
vos préférences d’abonnement. Pour valider le formulaire, vous devez accepter les présentes conditions générales.</p>

<p>L’adhérent est garant de l’exactitude des informations fournies et sera seul responsable de toutes les indications erronées, 
incomplètes ou obsolètes. En cas de changement d’adresse email et informations, les nouvelles coordonnées et informations de l’adhérent devront 
être modifiées par ses soins dans son espace personnel sur www.Hay Hay China.fr.</p>

<p>Lors de la création de compte, vous devrez saisir le numéro de votre carte MyHay Hay China :

Soit en recopiant le numéro et cryptogramme se trouvant sur votre carte MyHay Hay China, récupéré préalablement et gratuitement en restaurant.
Soit en cliquant sur “Obtenir ma carte virtuelle”. Dans ce cas, un numéro et un cryptogramme seront généré directement en ligne sans avoir eu besoin de récupérer une carte en restaurant.
A noter qu’aucune inscription au programme MyHay Hay China ne sera prise en compte par courrier ou faite en restaurant.</p>

<p>Le programme « MyHay Hay China » est ouvert à toute personne physique, âgée de plus de 18 ans. Si vous êtes âgé(e) de 13 à 18 ans, 
vous êtes autorisé(e) à utiliser le programme MyHay Hay China uniquement sous la supervision d’un parent ou tuteur légal, 
qui accepte d’être lié par les présentes Conditions d’utilisation.</p>

<p>La Société Hay Hay China se réserve le droit de demander la preuve du consentement de l’un des parents ou du tuteur légal, 
confirmant leur accord sur l’adhésion au programme « MyHay Hay China » du titulaire mineur de la carte.</p>

<p>La société Hay Hay China se réserve le droit de retirer la carte du titulaire mineur qui n’aurait pas été en mesure d’apporter de preuve 
suffisante de l’autorisation d’un parent ou d’un représentant légal.</p>

<p>Si vous aviez déjà crée un compte sans associer une carte MyHay Hay China, vous pourrez en ajouter une en vous rendant sur votre espace personnel 
sur www.Hay Hay China.fr ou sur votre application mobile Hay Hay China.</p>

<p>L’activation de la carte est confirmée au nouvel adhérent dans les meilleurs délais par email.</p>

<h1>CONDITIONS D’UTILISATION DE LA CARTE MYHay Hay China</h1>

<p>L’utilisation de la carte « MyHay Hay China » implique l’acceptation sans réserve des présentes conditions générales dont le souscripteur reconnaît 
avoir pris connaissance en complétant le formulaire d’adhésion via le site www.Hay Hay China.fr, l’application mobile Hay Hay China ou par 
téléphone.</p>
<p>Les CGU seront consultables sur www.Hay Hay China.fr, sur l’application mobile Hay Hay China ou sur demande au Service client fidélité 
MyHay Hay China – Immeuble Péricentre, Rue Van Gogh – 59650 Villeneuve d’Ascq.</p>

<p>La carte « MyHay Hay China » ne peut être utilisée que par son titulaire. Un même client ne peut être titulaire et utilisateur que d’une seule 
carte « MyHay Hay China ». Elle est personnelle, confidentielle et ne peut être confiée à un tiers.</p>

<p>Une pièce d’identité pourra être demandée au Titulaire lors de son utilisation aux caisses des restaurants.</p>

<p>La carte « MyHay Hay China » est la propriété de la société Hay Hay China et ne peut être reproduite.</p>

<p>Hay Hay China se réserve le droit de résilier votre compte et/ou interrompre ou annuler votre participation au programme MyHay Hay China à tout
moment et sans préavis si Hay Hay China  estime que vous avez enfreint les présentes Conditions d’utilisation ou que l’utilisation de votre compte 
est non autorisée, frauduleuse ou autrement illégale, ou encore contraire aux présentes Conditions d’utilisation.</p>

<p>Le titulaire de la carte de fidélité MyHay Hay China perd alors tout droit d’utilisation des avantages qui lui étaient offerts.</p>

<p>Les restaurants Hay Hay China et sites Internet partenaires déclinent toute responsabilité pour toutes conséquences directes ou indirectes 
d’utilisation frauduleuse ou non conforme de la carte de fidélité Hay Hay China.</p>

<p>En cas de perte ou de vol de la carte, la société Hay Hay China ne pourra être tenue responsable de l’utilisation frauduleuse des avantages offerts 
à l’adhérent, et aucune demande de remboursement ne sera recevable.</p> 

<p>Le titulaire doit informer la société Hay Hay China, par courrier, de la perte ou
 du vol dès sa survenance. Le titulaire peut ensuite demander la délivrance d’une  nouvelle carte en restaurant.

En cas de défectuosité, perte ou vol de la Carte, le Titulaire pourra procéder à son remplacement en se procurant une nouvelle carte dans un 
restaurant Hay Hay China. Il devra alors activer renseigner son nouveau numéro de carte sur www.Hay Hay China.fr en se connectant sur son espace 
personnel puis en cliquant sur “carte perdue” L’ancienne carte sera alors désactivée et les données et droits d’utilisation seront transférés 
automatiquement sur la nouvelle Carte.</p>

<p>La société Hay Hay China, les restaurants et/ou les sites Internet partenaires sont exonérés de toute responsabilité pour toute conséquence, 
directe ou indirecte, des éventuelles anomalies de fonctionnement du programme de fidélité, quelle que soit leur cause.</p>

<p>Ainsi en cas d’anomalie résultant notamment d’une erreur technique ou matérielle évidente ou d’un bug informatique, le titulaire de la carte de 
fidélité MyHay Hay China ne pourra pas en exiger le bénéfice, ni en demander le remboursement.</p>

<h1>EVOLUTION DU PROGRAMME DE FIDÉLITÉ</h1>

<p>Tout ou partie des règles, droits et avantages exposés dans les présentes Conditions Générales et/ou dans tout autre document relatif au présent 
programme pourront être modifiés ou supprimés temporairement ou définitivement à tout moment et sans préavis 
(conditions d’utilisation, conditions d’adhésion, avantages…)</p>

<p>Dans cette hypothèse, les droits et avantages relatifs à une offre, acquis par le titulaire de la carte « MyHay Hay China » à la date de 
suppression ou de modification, lui resteront dus.</p>

<p>En revanche, les droits et avantages modifiés ou supprimés pour l’avenir n’ouvriront aucun droit à indemnisation en faveur de l’adhérent.</p>

<p>Dans ce cas, les titulaires de la carte « MyHay Hay China » seront prévenus quinze (15) jours à l’avance par affichage ou diffusion dans 
les restaurants Hay Hay China, sur le site Internet www.Hay Hay China.fr et/ou par courriel, sms.</p> 

<p>Le titulaire de la carte « MyHay Hay China » peut, s’il le souhaite, restituer sa carte, en communiquant son identité (nom, prénom et adresse…). 
Par cette restitution, il renonce aux avantages du programme « MyHay Hay China ».</p>

<h1>SERVICE CLIENT</h1>

<p>Les demandes, questions, contestations ou réclamations concernant le programme « MyHay Hay China », devront être soumises au service client 
« MyHay Hay China » :

- en consultant les questions-réponses les plus fréquemment posées

- par email en utilisant le formulaire de contact sur Hay Hay China.fr (Critizr)

- par téléphone au 01.73.12.72.06 (prix d’un appel local, du lundi au samedi de 9h à 18h30).</p>

<p>Il est précisé que les données transmises dans le cadre de la réclamation de l’Adhérent seront conservées par la Société Hay Hay China pendant 
la durée de prescription légale applicable.</p>

<p>Après avoir saisi par lettre recommandée avec accusé réception le service clients ou toute personne habilitée, 
et à défaut de réponse satisfaisante dans un délai de 60 jours, le client peut saisir le Médiateur du Tourisme et du Voyage, 
dont les coordonnées et modalités de saisine sont disponibles sur son site : www.mtv.travel</p>

 
<h1>INFORMATIQUE ET LIBERTÉ</h1>

<p>En souscrivant au Programme « MyHay Hay China », l’adhérent consent à l’utilisation des données personnelles qui le concernent par 
la société Hay Hay China et par les sociétés qui exploitent les restaurants à enseigne Hay Hay China et proposent ce Programme</p>

<p>Les informations personnelles qui sont collectées à partir des formulaires d’inscription font l’objet d’un traitement informatique destiné à : 
SAS Hay Hay China ou SAS Hay Hay China-traiteur pour la ou les finalités suivantes : 
Gestion de la relation client, connaissance clients, prospection et fidélisation clients.</p>

<p>Le ou les destinataire(s) des données sont : Service marketing et restaurants. 
Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, la société Hay Hay China, Société par Actions Simplifiée au capital 
30 893 760 Euros, dont le siège social est à VILLENEUVE D’ASCQ (59650), Immeuble Péricentre, Boulevard Van Gogh, 
immatriculée au RCS de Lille sous le numéro B 320 772 510, a procédé à la déclaration de son fichier sous le numéro d’enregistrement 1563857.</p>

<p>L’adhérent bénéficie d’un droit d’accès et de rectification des données personnelles le concernant. 
Ce droit d’accès et de rectification peut être exercé en ligne sur www.Hay Hay China.fr et en se connectant, 
grâce à son identifiant et mot de passe, à son espace personnel, sur demande via la rubrique “nous contacter et programme de fidélité” ou en 
écrivant à l’adresse suivante : SAS Hay Hay China, Service client fidélité, Immeuble Péricentre, Boulevard Van Gogh, 59650 Villeneuve d’Ascq.</p>

<p>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant. 
Pour en savoir plus, consultez vos droits sur le site de la CNIL.</p>

<p>Concernant vos préférences d’abonnement (optins), Il vous est à tout moment possible de les gérer en cliquant sur le lien en bas des emails ou en 
vous rendant dans votre espace personnel sur www.Hay Hay China.fr.</p>

<p>A noter que si  vous choisissez de ne pas recevoir les communications liées au programme de fidélité, 
vous ne serez pas informé des bons plans et actus Hay Hay China mais vous pourrez être informé par email des récompenses gagnées 
après vos 5 passages.</p>

<p>L’adhérent pourra à tout moment choisir de se désabonner ou se réabonner sur le lien de désabonnement présent dans tous les emails de la 
marque ou en saisissant cette url dans son navigateur internet : http://www.Hay Hay China.fr/abonnement?email=[saisir son email sans crochet et 
sans espace]</p>

<h1>ATTRIBUTION DE JURIDICTION ET DROIT APPLICABLE</h1>

<p>Les présentes conditions générales d’utilisation sont soumises exclusivement au Droit français.</p>

<p>A défaut d’accord amiable entre les parties, tout litige ou contestation sera de la compétence exclusive des tribunaux de LILLE.</p>

<h1>CONDITIONS GÉNÉRALES D’UTILISATION DE Hay Hay China.FR</h1>

<p>Les Conditions d’Utilisation suivantes s’appliquent au site Hay Hay China.fr et à tout ses sous-domaines : job.Hay Hay China.fr, 
franchise.Hay Hay China.fr, restaurant.Hay Hay China.fr, blog.Hay Hay China.fr, news.Hay Hay China.fr, info.Hay Hay China.fr, 
click.Hay Hay China.fr.</p>

<h1>BIENVENUE SUR LE SITE Hay Hay China</h1>

<p>Les commentaires (ou tout autre contenu) sur le site de Hay Hay China sont les bienvenus, et ouverts à tous les fans. 
N’hésitez pas à réagir, partager votre expérience, poser des questions et répondre aux questions des autres fans.</p>

<p>Avant de participer, nous vous invitons à consulter les règles de bonne conduite ci- dessous.</p>

<h1>RÈGLES DE MODÉRATION</h1>

<p>Les commentaires postés sur le site de Hay Hay China peuvent être lus par l’ensemble des fans. 
Ils feront l’objet d’une modération a posteriori, c’est-à-dire après leur publication.</p>

<p>Ce site est un espace dédié à Hay Hay China et ses restaurants. Si, après publication, 
le modérateur estime que le commentaire n’est pas conforme : – aux règles de bonne conduite en vigueur sur Internet, – à la loi française 
Il se réserve le droit de supprimer le commentaire sans préavis.</p>

<h1>RÈGLES DE BONNE CONDUITE</h1>

<p>Les commentaires sont libres à condition de respecter les règles élémentaires de bienséance.</p>

<p>Afin de préserver le dialogue et le respect des personnes, le modérateur pourra supprimer sans avertissement préalable tout propos tombant 
sous le coup de la loi :
incitation à la discrimination, à la haine ou à la violence à caractère raciste, xénophobe, homophobe ou révisionniste – tout propos incitant à une consommation d’alcool excessive ou inappropriée, ou faisant l’apologie de l’ivresse.
Peuvent être notamment supprimés :
les commentaires insultants, agressifs ou vulgaires, constitutifs de harcèlement ou prenant à partie un ou plusieurs participants – les commentaires à caractère diffamatoire ou dénigrant les commentaires et contributions hors sujet, superflues, ou redondantes (spam), sans apport particulier pour les échanges. – Les informations obsolètes ou ayant déjà été traitées. – les commentaires répétitifs à des fins commerciales (spam)
les liens renvoyant vers des sites extérieurs dont le contenu serait susceptible d’être contraire aux lois et règlements en vigueur en France. – Les contributions abusives en « langage SMS » et en majuscules. – Les contributions liés aux Ressources Humaines et recrutement. Nous vous invitons à vous rendre dans l’espace « recrutement » dédié sur le site pour ces aspects.
les conversations privées sur la page ou le mur, les échanges de coordonnées privées.
les questions personnelles ayant eu une réponse de la part de Hay Hay China SAS.</p>

<p>Les critiques ou les commentaires sur la modération doivent être effectués en privé. 
Si vous rencontrez un message que vous jugez illégal ou contraire à la bonne marche de la page, 
merci de contacter les modérateurs par l’intermédiaire d’un message sur https://ditesnous.Hay Hay China.fr/ . 
Merci de justifier clairement la raison de votre demande de modération.</p>

<p>Chaque utilisateur peut à tout moment, si une contribution porte atteinte à ses droits, la signaler à la société Facebook, 
selon la procédure de signalement mise en place par Facebook, ou nous la signaler directement en vous rendant sur https://ditesnous.Hay Hay China.fr/ 
pour nous écrire un message.</p>

<h1>CONTACT</h1>

<p>Vous pouvez poser vos questions sur cet espace de discussion, ou nous contacter via le lien suivant : https://ditesnous.Hay Hay China.fr/</p>

<h1>LIMITES DE RESPONSABILITÉ</h1>

<p>L’utilisateur du site Hay Hay China est seul responsable du contenu utilisateur (textes, images, opinions, fichiers etc…) 
qu’il met en ligne sur la page. L’utilisateur s’engage à ce que les contenus qu’il publie ne soient pas de nature à porter atteinte aux intérêts 
légitimes de tiers quels qu’ils soient, il garantit Hay Hay China SAS contre tous recours fondés directement ou indirectement sur ces propos et 
son contenu utilisateur, susceptibles d’être intentés par quiconque à l’encontre de Hay Hay China SAS.</p>

<p>Il s’engage en particulier à prendre en charge le paiement des sommes, quelles qu’elles soient, résultant du recours d’un tiers à l’encontre de 
Hay Hay China SAS, y compris les honoraires d’avocat et frais de justice. Hay Hay China SAS ne peut garantir l’exactitude ou la pertinence 
des informations publiées sur la page.</p> 

<p>Ces informations mises à disposition sur la page le sont uniquement à titre purement informatif et ne sauraient constituer en aucun cas un conseil ou 
une recommandation de Hay Hay China SAS de quelque nature que ce soit. L’utilisateur est pleinement responsable de la vérification des informations 
qu’il recueille sur la page Facebook Hay Hay China.</p> 

<p>En conséquence, l’utilisation des informations et des contenus disponibles sur la page fan, ne sauraient en aucun cas engager 
la responsabilité de Hay Hay China SAS. Il appartient à l’utilisateur de prendre toutes les dispositions nécessaires permettant de protéger ses 
propres données pour accéder à la page Hay Hay China.</p>

<p>Les modérateurs s’expriment à titre personnel sur la page fan et leurs propos ne sauraient 
engager la responsabilité de Hay Hay China SAS. Hay Hay China SAS se réserve le droit de modifier les termes, conditions et mentions de la présente 
charte à tout moment sans avis préalable. 
<p>Il est donc conseillé aux utilisateurs de consulter régulièrement 
la dernière version de cette charte disponible sur la page.</p>

{% endblock %}