{% extends 'base.html.twig' %}

{% block body %}

	{% block stylesheets %}
		
		{% endblock stylesheets %}

<h1>CARTE DU WEEK-END</h1>
<p>Restaurant HYE-HYE CHINA -> Carte du week-end</p>

<div id="menu">
    <h1 class="sectionTitle">MENU</h1>
    <div class="navMenu">
        <div id="entrée">ENTRÉES</div>
        <div id="plat">PLATS</div>
        <div id="desssert">DESSERTS</div>
    </div>

    <div id="entrées froides"  class="visible">
      <h1><b>Salade de crabe</b> <span class="price">$4.50</span></h1>
      <hr>
   
      <h1><b>Salade de poulet</b> <span class="price">$5.50</span></h1>
      <hr>
      
      <h1><b>Salade aux crevettes</b> <span class="price">$5.00</span></h1>
      <hr>

      <h1><b>Salades variées</b> <span class="price">$6.50</span></h1>
      <hr>

<div id="entrées chaudes"  class="visible">

 <h1><b>Nems au poulet(4 pièces)</b> <span class="price">$3.50</span></h1>
      <hr>
   
      <h1><b>Nems aux crevettes(4 pièces)</b> <span class="price">$3.50</span></h1>
      <hr>
      
      <h1><b>Beignets aux crevettes(4 pièces)</b> <span class="price">$4.50</span></h1>
      <hr>

      <h1><b>Samoussa boeuf ou végétarien(4 pièces)</b> <span class="price">$4.50</span></h1>
      <hr>

      <h1><b>Beignets de calamars(5 pièces)</b> <span class="price">$4.00</span></h1>
      <hr>

      <h1><b>Assortiments sushis(6 pièces)</b> <span class="price">$5.00</span></h1>
    </div>


    <div id="plats"  class="visible">

      <h1><b>Nouille sautée légumes boeuf ou végétarien</b> <span class="price">$7.80</span></h1>
      <hr>
   
      <h1><b>Nouille sautée légumes aux crevettes ou piments</b> <span class="price">$8.90</span></h1>
      <hr>
      
      <h1><b>Poulet caramel + riz</b> <span class="price">$8.50</span></h1>
      <hr>

      <h1><b>Boeuf à l'oignon + riz</b> <span class="price">$8.50</span></h1>
    </div>

<h1><b>Poulet laqué + riz</b> <span class="price">$7.50</span></h1>
    </div>

<h1><b>Délices crevettes sauce thai +riz</b> <span class="price">$8.90</span></h1>
    </div>

<h1><b>Kung Pao Poulet + riz</b> <span class="price">$9.90</span></h1>
    </div>

    <h1><b>Sushi maki(22 pièces) pour 2 personnes</b> <span class="price">$19.70</span></h1>
    </div>


    <div id="desserts"  class="visible">

      <h1><b>Boule de coco chocolat(4 pièces)</b> <span class="price">$3.90</span></h1>
      <hr>
   
      <h1><b>Perle de coco(4 pièces)</b> <span class="price">$3.50</span></h1>
      <hr>
      
      <h1><b>Mochis japonais(3 pièces)</b> <span class="price">$3.70</span></h1>
      <hr>
      
      <h1><b>Coupe de glaces diverses</b> <span class="price">$4.90</span></h1>
      <p>(chocolat, dame blanche, fraise, vanille, coco, passion, pistache...</p>
      <p>Supplément chantilly $0.50</p>
    </div><br>

</div>




{% endblock %}
