{% extends "base.html.twig" %}

{% block body %}


<div id="semaine">
<h1>Carte du Week-End</h1>

</div>

<div id="menu1">
    <h1 class="sectionTitle1">MENU</h1>
    <div class="navMenu1">
        <div id="ent">Entrée</div>
        <div id="pla">Plat</div>
        <div id="dess">Dessert</div>
    </div>

    <div id="Entree1"  class="visible">
      <h1><b>Salade de crabe</b> <span class="price">$4.50</span></h1>
      
      <hr>
   
      <h1><b>Salade de poulet</b> <span class="price">$5.50</span></h1>
      <p>Four cheeses (mozzarella, parmesan, pecorino, jarlsberg)</p>
      <hr>
      
      <h1><b>Salade aux crevettes</b> <span class="price">$5.80</span></h1>
      <p>Fresh tomatoes, mozzarella, chicken, onions</p>
      <hr>

      <h1><b>Salade variées</b> <span class="price">$6.00</span></h1>
      <p>Fresh tomatoes, mozzarella, fresh pineapple, bacon, fresh basil</p>
      <hr>

      <h1><b>Nems au poulet(4 pièces)</b> <span class="price">$3.50</span></h1>
      <p>Fresh tomatoes, mozzarella, hot pepporoni, hot sausage, beef, chicken</p>
      <hr>

      <h1><b>Nems aux crevettes(4 pièces)</b> <span class="price">$3.80</span></h1>
      <p>Lorem ipsum dolor sit amet</p>
      <hr>
      <h1><b>Beignets aux crevettes(4 pièces)</b> <span class="price">$4.00</span></h1>
      <p></p>
      <hr>

      <h1><b>Samoussas boeuf ou végétarien(4 pièces)</b> <span class="price">$4.80</span></h1>
      <p></p>
      <hr>

      <h1><b>Beignets de calamars(5 pièces)</b> <span class="price">$3.80</span></h1>
      <p></p>
      <hr>

       <h1><b>Assortiments sushis(8 pièces)</b> <span class="price">$5.80</span></h1>
      <hr>
    </div>

    <div id="Plat1"  class="invisible">
      <h1><b>Nouilles sautées légumes Boeuf ou Végétarien</b> <span class="price">$8.50</span></h1>
      <p>Special sauce, mozzarella, parmesan, ground beef</p>
      <hr>
   
      <h1><b>Nouilles sautées légumes Crevettes ou Piments</b> <span class="price">$8.80</span></h1>
      <p>Ravioli filled with cheese</p>
      <hr>
      
      <h1><b>Poulet caramel + riz</b> <span class="price">$9.80</span></h1>
      <p>Fresh tomatoes, onions, ground beef</p>
      <hr>

      <h1><b>Boeuf à l'oignon + riz</b> <span class="price">$9.90</span></h1>
      <p>Salmon, shrimp, lobster, garlic</p>

      <h1><b>Poulet laqué + riz</b> <span class="price">$9.80</span></h1>
      <hr>

       <h1><b>Délices Crevettes sauce thai + riz</b> <span class="price">$10.80</span></h1>
      <hr>

       <h1><b>Kung Pao Poulet + riz</b> <span class="price">$11.80</span></h1>
      <hr>

       <h1><b>Sushis makis(22 pièces) pour 2 personnes</b> <span class="price">$19.80</span></h1>
      <hr>



    </div>


    <div id="Dessert1"  class="invisible">
      <h1><b>Boule de coco chocolat(3 pièces)</b> <span class="price">$3.50</span></h1>
      <hr>

      <h1><b>Perle de coco(4 pièces)</b> <span class="price">$4.50</span></h1>
      <hr>

      <h1><b>Mochis japonais(4 pièces)</b> <span class="price">$4.90</span></h1>
      <hr>

      <h1><b>Coupe de glaces diverses</b> <span class="price">$5.70</span></h1>
      <p>(chocolat, dame blanche, fraise, vanille, coco, pistache...)</p>
      <p>Supplément chantilly($0.50)</p>
    </div><br>

</div>

{% endblock body %}