{% extends "base.html.twig" %}

{% block body %}

	<div id="semaine">
		<h1>Carte de la Semaine</h1>

	</div>

	<div id="menu1">
		<h1 class="sectionTitle1">MENU</h1>
		<div class="navMenu1">
			<div id="ent">Entréee</div>
			<div id="pla">Plats</div>
			<div id="dess">Dessert</div>
		</div>

		<div id="Entree1" class="visible">

			<h1>
				<b>Salade de poulet</b>
        <p>Au poulet ou crevettes ou salade variées</p>
				<span class="price">$5.50</span>
			</h1>
			<hr>

			<h1>
				<b>Nems </b>
        <p>au poulet(4 pièces)</p>
				<span class="price">$3.50</span>
			</h1>
			<hr>

			<h1>
				<b>Nems aux crevettes(4 pièces)</b>
				<span class="price">$3.80</span>
			</h1>
			<hr>

			<h1>
				<b>Beignets aux crevettes(4 pièces)</b>
				<span class="price">$4.00</span>
			</h1>
			<hr>

			<h1>
				<b>Samoussas boeuf ou végétarien(4 pièces)</b>
				<span class="price">$4.80</span>
			</h1>
			<hr>

		</div>

		<div id="Plat1" class="invisible">

			<h1>
				<b>Nouilles sautées légumes Boeuf ou Végétarien</b>
				<span class="price">$8.50</span>
			</h1>
			<hr>

			<h1>
				<b>Nouilles sautées légumes Crevettes ou Piments</b>
				<span class="price">$8.80</span>
			</h1>
			<hr>

			<h1>
				<b>Poulet caramel + riz</b>
				<span class="price">$9.80</span>
			</h1>
			<hr>

			<h1>
				<b>Boeuf à l'oignon + riz</b>
				<span class="price">$9.90</span>
			</h1>
			<h1>
				<b>Seafood pasta</b>
				<span class="price">$25.50</span>
			</h1>
			<p>Salmon, shrimp, lobster, garlic</p>
			{# 		<h1>
										<b>Poulet laqué + riz</b>
										<span class="price">$9.80</span>
									</h1>
									<hr>
							
									<h1>
										<b>Sushis makis(22 pièces) pour 2 personnes</b>
										<span class="price">$19.80</span>
									</h1>
									<hr> #}
		</div>


		<div id="Dessert1" class="invisible">

			<h1>
				<b>Boule de coco chocolat(3 pièces)</b>
				<span class="price">$3.50</span>
			</h1>
			<hr>

			<h1>
				<b>Perle de coco(4 pièces)</b>
				<span class="price">$4.50</span>
			</h1>
			<hr>

			<h1>
				<b>Mochis japonais(4 pièces)</b>
				<span class="price">$4.90</span>
			</h1>
			<hr>

			<h1>
				<b>Coupe de glaces diverses</b>
				<span class="price">$5.70</span>
			</h1>
			<p>(chocolat, dame blanche, fraise, vanille, coco, pistache...)</p>
			<p>Supplément chantilly($0.50)</p>
		</div><br>

	</div>
</div>{% endblock body %}
