{% extends "base.html.twig" %}

{% block body %}

	<div id="semaine">
	
	<h2>Carte de la Semaine</h2>
	

	</div>

	<div id="menu1">
		<h2 class="sectionTitle1">MENU</h2>
		<div class="navMenu1">
			<div id="ent">Entrées</div>
			<div id="pla">Plats</div>
			<div id="dess">Desserts</div>
						<div id="boiss">Boissons</div>
		</div>

		<div id="Entree1" class="visible">

		{# Tu peux changer tout ce qu'il y a écrit en blanc. Donc à l'intérieur des balises "<h2>", "<b>", "<p>", et le prix dans les balises "<span>"  #}

	<h2><b>Salades</b> <span class="price">$4.50</span></h2>
	<p>Salade de poulet, variéees, fruit de mer</p>
      
      <hr>
   
      <h2><b>Nems au poulet</b> <span class="price">$3.50</span></h2>
	  <p>Ou crevettes (4 pièces)</p>
      <hr>

      <h2><b>Beignets aux crevettes</b> <span class="price">$4.00</span></h2>
	  <p>(4 pièces)</p>
      
      <hr>

      <h2><b>Samoussas boeuf</b> <span class="price">$4.80</span></h2>
	  <p> Ou végétarien (4 pièces)</p>
      <hr>

      <h2><b>Rouleau de primptemps</b> <span class="price">$3.80</span></h2>
	  <p>Au crevettes (5 pièces)</p>
      <hr>

       <h2><b>Omelettes</b> <span class="price">$5.80</span></h2>
	   <p>Fruit de mer, saumon (8 pièces)</p>
      <hr>
	  </div>

		<div id="Plat1" class="invisible">
		
		<h2><b>Nouilles sautées </b> <span class="price">$8.50</span></h2>
		<p>Ou Végétarien, Légumes, Boeuf</p>
		<hr>

      <h2><b>Riz sauté, cantonais</b> <span class="price">$9.80</span></h2>
	  <p>Boeuf à l'oignon, Poulet laqué, Poulet caramel</p>
      
      <hr>

       <h2><b>Délices Crevettes </b> <span class="price">$10.80</span></h2>
	   <p>sauce thai + riz</p>
      <hr>

       <h2><b>Brochettes</b> <span class="price">$11.80</span></h2>
	   <p>Boeuf, Poulet, St Jacques, Grenouilles</p>
      <hr>

       <h2><b>Sushis makis</b> <span class="price">$19.80</span></h2>
	   <p>(22 pièces) pour 2 personnes</p>
      <hr>

		</div>


		<div id="Dessert1" class="invisible">

		<h2><b>Nougatine</b> <span class="price">$3.00</span></h2>
	    <hr>

      <h2><b>Coco confit</b> <span class="price">$3.50</span></h2>
	  <p>Ou au Gimgembre (4 pièces)</p>
      <hr>
	  <h2><b>Beignets</b> <span class="price">$3.50</span></h2>
	  <p>Pomme, Banane, ananas)</p>
      <hr>

      <h2><b>Mochis japonais</b> <span class="price">$4.90</span></h2>
	  <p>(4 pièces)</p>
      <hr>

      <h2><b>Coupe de glaces diverses</b> <span class="price">$5.70</span></h2>
      <p>(chocolat, dame blanche, fraise, vanille, coco, pistache...)</p>
      <p><b>Supplément chantilly  ($0.50)  <b></p>

	</div>

			<div id="Boisson1" class="invisible">

		<h3><b>Boissons Soft</b> <span class="price">$2.00</span></h3>
		<p>33 cl(coca-cola, sprite, orangina etc...)</p>
		<h3>Ice Tea en rupture de stock!!!</h3>
	    <hr>

      <h3><b>Cocktails alcolisés</b> <span class="price">$4.50</span></h3>
	  <p>Mojitos(rhum blanc,citron,eau gazeuse,feuille de menthe)Saveurs:menthe,fraise,passion)</p>
	  <p>Pina Colada(rhum blanc, jus d'ananas et lait de coco)</p>
	  <p>Margarita(téquila,jus de citron vert)</p>
      <hr>
	  <h3><b>Cocktails non-alcolisés</b> <span class="price">$3.80</span></h3>
	  <p>Virgin Mojito(menthe,fraise,passion)</p>
	  <p>Lagon Bleu(jus de pamplemousse,schweppes,sirop de menthe)</p>
	  <p>Diabolo(grenadine,fraise,menthe)</p>
      <hr>
      <h3><b>Punch Divers</b><span class="price">$4.00</span></h3>
	  <p>Planteur,Punch coco,Ti-punch</p>
      <hr>

	</div>
</div>
<div class="lefab">
<img src="asset\images\restaurant_left_bg.jpg" class="rounded float-start" alt="...">
<img src="asset\images\restaurant_right_bg.jpg" class="rounded float-end" alt="...">
</div>
{% endblock body %}

