{% extends 'base.html.twig' %}

{% block body %}

<div id="event">
	<div class="even">
	<h1>ÉVÈNEMENTS</h1>
    </div>

<div class="even2">
	<h2>À vos agendas</h2>	
	<p>Nous vous proposons un dîner dansant le samedi soir <strong>à partir de 21h et une soirée karaoké le mercredi soir à partir de 19h</strong></p>
	</div>
	<div class="micro">
<div class="micro1">
    <img class="karao" src="asset\images\pexels-photo-karaoke.jpeg" alt="micro karaoké">
	<p class="info1">Votre restaurant HAY-HAY CHINA organise une soirée karaoké ce mercredi à partir de 19h, menu complet 25 euros * Places limitées - Pensez à reserver !</p>
	
    </div>
	<div class="micro2">
	<p class="info2">Votre restaurant HAY-HAY CHINA organise un diner dansant samedi soir à partir de 21h, menu complet 30 euros * Places limitées - Pensez à réserver !</p>
	<img class="karao1" src="asset\images\SoireeDisco1.jpg" alt="diner dansant">
	</div>

	</div>
	</div>
{% endblock %}
