{% extends 'base.html.twig' %}

{% block body %}

	<div class="backClo">
		{% block stylesheets %}
			<style>
				body {
				

				}
			</style>
		{% endblock stylesheets %}
		<h1>EVENEMENTS</h1>
		<p>Restaurant HYE-HYE CHINA ->Evenements</p>
		<p>Nous vous proposons un dîner dansant le samedi soir à partir de 21h et une soirée karaoké le mercredi soir à partir de 19h</p>

		<h3>LE RESTAURANT HYE-HYE CHINA</h3>
		<p>---------À vos agendas----------</p>

		<p>Votre restaurant HYE-HYE CHINA organise une soirée karaoké ce mercredi à partir de 19h, menu complet 25 euros * Places limitées - Pensez à reserver</p>
		<img src="asset\images\free-karaoke-flyer-template-cd0c75abf733355d702556dd3482ce68_screen.jpg" alt="micro karaoké">
		<p>Votre restaurant HYE-HYE CHINA organise un Diner dansant samedi soir à partir de 21h, menu complet 30 euros * Places limitées - Pensez à réserver</p>
		<img src="asset\images\SoireeDisco1.jpg" alt="diner dansant">


	</div>
{% endblock %}
