{% extends 'base.html.twig' %}

{% block body %}

<style>
body, html
{
  font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
}
body{
	 background-image: url('asset/images/background2.jpg');
}
p#start
{
	position: relative;
	width: 16em;
	font-size: 200%;
	font-weight: 400;
	margin: 20% auto;
	color: #4ee;
	opacity: 0;
	z-index: 1;
	-webkit-animation: intro 2s ease-out;
	-moz-animation: intro 2s ease-out;
	-ms-animation: intro 2s ease-out;
	-o-animation: intro 2s ease-out;
	animation: intro 2s ease-out;
}

@-webkit-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes intro {
	0% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

h1
{
	position: absolute;
	width: 2.6em;
	left: 50%;
	top: 25%;
	font-size: 10em;
	text-align: center;
	margin-left: -1.3em;
	line-height: 0.8em;
	letter-spacing: -0.05em;
	color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
	opacity: 0;
	z-index: 1;
	-webkit-animation: logo 5s ease-out 2.5s;
	-moz-animation: logo 5s ease-out 2.5s;
	-ms-animation: logo 5s ease-out 2.5s;
	-o-animation: logo 5s ease-out 2.5s;
	animation: logo 5s ease-out 2.5s;
}

h1 sub
{
	display: block;
	font-size: 0.3em;
	letter-spacing: 0;
	line-height: 0.8em;
} 

</style>

<!-- ALL CREDIT FOR THE SCROLLING TEXT GOES TO 
     Craig Buckler
     http://www.sitepoint.com/css3-starwars-scrolling-text/ 

Blame me for the music via embedded video bit
-->
 <audio autoplay>
  <source src="asset/js/1 2 Fan Club.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio> 
<div class="hyeStar">
<div style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;">
  <div style="margin-top:-290px;">
{#   <object width="420" height="315">
    <param name="movie" value="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed>
  </object> #}
  </div>
</div>

<p id="start">LE RESTAURANT HAY-HAY CHINA VOUS EST PRESENTÉ PAR...</p>

<h1>LA TEAM<sub>PAS DE STRESSE IL Y'A CSS!!!</sub></h1>

<div id="titles">
  <div id="titlecontent">

    <p class="center">HAY-HAY CHINA!<br/></p>

    <p>IL Y'A BIEN LONGTEMPS, DANS UNE GALAXIE TRÈS LOINTAINE. LE HAY-HAY CHINA NOUVELLE GÉNÉRATION 2020...</p>

 <p>Dans cette galaxie, la guerre civile fait rage entre l'HTML et le CSS.</p>

 <p>C'est ainsi que la TEAM CSS se créa avec une équipe de choc dont ses trois membres: Jordan, Chloé et Fabien.</p>

    <p>Cette équipe décida alors de créer leur propre entreprise, un restaurant appelé HAY-HAY CHINA très moderne qui propose différents services.</p>

    <p>Ce restaurant dôté d'un savoir-faire inéstimé et d'une expérience efficace fait ses débuts en 2020 tout en satisfaisant ses clients et en leur apportant un accueil agréable et un service imppécable.</p>

    <p>Depuis des mois la Team CSS fourni un travaille sans relâche et acharné afin de vous proposer ses meilleurs services au sein du HAY-HAY CHINA.</p>

    <p>Vous ne serez que ravies et agréablement surpris des propositions de service du restaurant HAY-HAY CHINA...</p>

    <p>Un accueil d'enfer, des menus selon vos disponiblités et vos envies avec une carte de la semaine et une carte du week-end, des événements inrattable.</p>

    <p>Mieux encore! Pour vous montrer notre bonne foi et notre efficacité, vous avez la possibilité de vous inscrire grâce à notre formulaire de contact vous avez juste à remplir les champs puis CLIQUEZ!</p>

	  <p>Vous avez aussi la possibilité de passer votre commande et vous faire livrer à domicile.</p>

    <p class="center">Le HAY-HAY CHINA et son équipe vous attend de pied ferme.</p>
  
    <p class="center"><a href="http://www.sitepoint.com/css3-starwars-scrolling-text/">Facebook et Instagram/<br />HAY-HAY CHINA</a></p>

    <p>HAY-HAY CHINA POUR L'AMOUR ET LA MODERNITÉ</p>
    </div>
</div>
<iframe style="visibility:hidden" width="560" height="315" src="https://www.youtube.com/embed/1KAOq7XX2OY" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock %}