{% extends 'base.html.twig' %}

{% block title %}Edite utilisateur{% endblock %}

{% block body %}
    <h1>Edite utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">Retourner à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
