#intro{
    margin: 0 auto 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 5%;
}
.bloc{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5%;
    
}
.img1{
    width: 30%;
}
.bloc2{
    padding: 5%;
}
.bloc3{
    padding: 5%;
}

.bloc4{
    padding: 5%;
}

.bloc5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
.fried{
    width: 20%;
}
.bloc6{
    display: flex;
    justify-content: space-around;
}

body{
    background-size: cover;
    background-image: url('../images/background.jpg');
}


#semaine{
    padding: 5%;
    display: flex;
    justify-content: center;
    border: solid 1px;   
}
#menu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.navMenu1{
    margin: 0 auto;
    width: 700px;
    outline: 1px white solid;
    outline-offset: -1px;
    display: flex;
    flex-wrap: nowrap;
}
.navMenu1 div{
    
    padding: 10px 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.navMenu1 div:hover{
    cursor: pointer;
    background-color:  rgb(248, 51, 51);
}
nav:hover{
    background-color: rgba(0, 0, 0, 1);
}
#entree1, #plat1, #dessert1{
    margin: 0 auto;
    width: 700px;
    background-color: white;
    padding: 0 10px;
    box-sizing: border-box;
}

.price{
    font-weight: 200;
    color: white;
    padding: 5px;
    margin-right: 10px;
    float: right;
    border-radius: 5px;
    background-color:  rgb(136, 136, 136); 
}

.sectionTitle{
    text-align: center;
    margin: 50px 0;
    font-weight: 200;
    color: white;
    font-size:3em; 
}

.visible{
    display: block;
}
.invisible{
    display: none;
}
