{% extends 'base.html.twig' %}

{% block body %}<h1>EVENEMENTS</h1>
<p>Nous serions ravies de vous présenter nos événenements</p>
<p>Nous vous proposons un dîner dansant le samedi soir à partir de 20h et une soirée karaoké le mercredi soir à partir de 19h</p>

<img src="asset\images\free-karaoke-flyer-template-cd0c75abf733355d702556dd3482ce68_screen" alt="micro karaoké">









{% endblock %}