{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <h1>Nouvelle réservation</h1>

    {{ include('booking/_form.html.twig') }} <br>

  <button type="button" class="btn btn-secondary"> <a href="{{ path('booking_index') }}">Revenir à la liste</a> </button>
{% endblock %}
